.blog-post
  .post-title 
    h1.title-text(ng-bind-html="title()")
    .title-date 
      h2 
        span {{ post.date | date }}
  .content.article
    .dynamic(lf-dynamic-content content="post.content")
