.nav-container.dashboard-nav
  .inner-fill
    ul.nav(data-active="{{ active }}")
      li.overview
        a.link.overview(href="/dashboard")
          .icon(lf-icon icon="dash" width="30" height="30" fill="#414141" scale="0.7")
          span.text overview
      li.devices
        a.link.devices(href="/dashboard/devices")
          .icon(lf-icon icon="pi" width="30" height="30" fill="#414141")
          span.text devices
      li.library
        a.link.library(href="/dashboard/library")
          .icon(lf-icon icon="book" width="30" height="30" fill="#414141")
          span.text library
