.device-creator.directive
  .problems(lf-flash-message messages="failures")
  .form-container
    .fields
      .input-container
        input(type="text" ng-keyup="keywatch($event)" ng-model="device.name" placeholder="device name")
      .input-container
        input(type="text" ng-keyup="keywatch($event)" ng-model="device.serial_number" placeholder="serial number")
    .actions
      .action-container
        button(ng-click="attempt()")
          i.ionicon.add
