.device-queue.directive
  .no-tracks(ng-if="!queue.length")
    p.no-tracks-text there are to queued tracks for this device
  ul.queue-track-list
    li.track-container(ng-repeat="track in queue")
      .inner-container
        p.foundry.queue-index {{$index+1}}.
        p.foundry.track-title {{track.title || 'untitled'}}
        .item-controls
          button.remover(ng-click="removeItem($index)")
            i.ionicon.close
  .controls
    button.search-toggle-button(ng-click="searchToggle()")
      i.ionicon(ng-class="{add: !adding, close: adding}")
  .search-area(ng-if="adding")
    .searcher(lf-device-queue-search manager="manager" queue="queue")
