.device-info.directive
  .info-inner
    .device-brief
      .device-state
        .status-icon(lf-device-status-icon manager="manager")
      .device-delete
        button.remover(ng-click="destroy()")
          i.ionicon.trash
      .device-name-date
        p.name.txt.gill.bold {{device.name.split('.')[0]}}
        p.date.txt.gill.light {{device.createdAt | date:'MMM, yyyy'}}
    .share-zone
      .share-title
        i.ionicon.stalker
        p.gill.light device shares
      ul.shared-list(ng-if="permissions.length > 0")
        li.permission(ng-repeat="permission in permissions" data-level="{{permission.level}}")
          .actions
            button.remover(ng-click="removePermission(permission)")
              i.ionicon.trash
          .info
            p.user-name.sans {{permission.user.username}}
            p.permission-level.sans {{permission.level | permissionLevel}}
      p.info-box.no-permissions(ng-if="!permissions.length") you havent shared this device
      .share-control(lf-device-share device="device" permissions="permissions")
