.device-queue
  .no-tracks(ng-if="!queue.length")
    p.no-tracks-text there are to queued tracks for this device
  ul.queue-track-list
    li.track-container(ng-repeat="track in queue")
      .inner-container
        p.queue-index {{$index+1}}
        p.track-title {{track.title || 'untitled'}}
        .item-controls
          button.remover.ionicon.close(ng-click="removeItem($index)")
  .controls
    button.search-toggle-button.ionicon(ng-click="searchToggle()" ng-class="{add: !adding, close: adding}")
  .search-area(ng-if="adding")
    .searcher(lf-device-queue-search manager="manager" queue="queue")
