.device-item
  .bit.name
    p.txt.sans {{ device.name }}
  .bit.ip_addr
    p.txt.sans {{ device.ip_addr }}
  .bit.port
    p.txt.sans {{ device.port }}
  .bit.status.has-tooltip
    .tooltip(lf-tooltip)
      .content
        p.txt last updated:
        p.txt {{ device.updatedAt | date:'short' }}
    .status-icon.active(ng-if="device.status")
      span ok
    .status-icon.inactive(ng-if="!device.status")
      span bad
  .bit.actions
    .actions
      button.ionicon.trash.delete(ng-click="delete(device)")
      button.ionicon.loop.report(ng-click="refresh()")
      button.ionicon.share(ng-click="sharing = !sharing")
      a.button.ionicon.mixer.control(href="/devices/{{device.id}}")
    .share-central(ng-if="sharing")
      button.ionicon.close(ng-click="stopShare()")
      .device-share-control(lf-device-share device="device")
