.device-list
  .list-header
    .bit.name
      p device name
    .bit.ip_addr
      p ip address
    .bit.port
      p port
    .bit.status
      p status
    .bit.updated
      p updated
    .bit.actions
      p actions

  .list-container
    .device-container(ng-repeat="device in devices")
      .device(lf-device-item device="device" ondelete="remove($index)")
