.device-item
  .bit.name
    p.txt.sans {{ device.name }}
  .bit.ip_addr
    p.txt.sans {{ device.ip_addr }}
  .bit.port
    p.txt.sans {{ device.port }}
  .bit.status.has-tooltip
    .status-icon(lf-device-status-icon manager="manager" ng-if="manager")
  .bit.actions
    .action-group.btn-grp
      button.ionicon.trash.delete(ng-click="delete(device)")
      button.ionicon.share(ng-click="sharing = !sharing")
      a.button.ionicon.mixer.control(href="/devices/{{device.id}}")
    .share-central(ng-if="sharing")
      button.ionicon.close(ng-click="stopShare()")
      .device-share-control(lf-device-share device="device")
