.device-controls.directive
  .no-stream(ng-if="!stream_manager")
    .search-input-container(lf-device-stream-search manager="manager")
  .has-stream(ng-if="stream_manager")
    a.control.button.unsubscribe(ng-click="unsubscribe()")
      i.ionicon.eject
    a.control.button.stop(ng-click="setPlayback(0)" ng-if="manager.state.playback === 1")
      i.ionicon.stop
    a.control.button.start(ng-click="setPlayback(1)" ng-if="manager.state.playback === 0")
      i.ionicon.play
    .playback-info
      .playback-nav
        a.nav.button.next(ng-click="next()")
          i.ionicon.arrow-right
      .stream-name(ng-class="{active: active_nav === 'stream'}")
        .blurb
          p.label.foundry.light stream:
          a.foundry.light.link.value(ng-attr-href="/streams/{{stream_manager.stream.id}}") {{stream_manager.stream.title}}
      .currently-playing(ng-if="current_track && playback" ng-class="{active: active_nav === 'track'}")
        .blurb
          p.label.foundry.light now playing:
          a.artist.value.foundry(ng-attr-href="/artists/{{current_artist.id}}" ng-if="current_artist.id") {{current_artist.name}}
          span.separator(ng-if="current_artist.id") &nbsp;-&nbsp;
          a.track.value.foundry(ng-attr-href="/tracks/{{current_track.id}}") {{current_track.title}}
