.device-controls.directive
  .control-list.btn-grp
    a.button(ng-click="stop()")
      i.ionicon.stop
    a.button(ng-click="play()")
      i.ionicon.play
    a.button(ng-click="skip()")
      i.ionicon.skip-forward
  .current-state-info
