.device-status-icon(ng-click="force()")
  .tooltip(lf-tooltip)
    .content.last-checked
      .with-diff(ng-if="time_diff >= 0")
        p.label.gill.medium we last heard from your device {{ time_diff }} second(s) ago
      .without-diff(ng-if="!(time_diff >= 0)")
        p.label.gill.medium we havent heard from your device
  .status-icon.active(ng-if="time_diff >= 0")
    span ok
  .status-icon.inactive(ng-if="!(time_diff >= 0)")
    span bad
