.device-item
  .bit.name
    p.txt {{ device.name }}
  .bit.ip_addr
    .field(lf-edit-field save="saveProperty" revert="revertPropery" property="'ip_addr'")
      .editor
        input(type="text" lf-edit-field-input ng-model="device.ip_addr")
      .viewer
        p.txt &nbsp; {{ device.ip_addr }}
  .bit.port
    p.txt &nbsp {{ device.port }}
  .bit.status.has-tooltip
    .tooltip(lf-tooltip)
      .content
        p.txt last updated:
        p.txt {{ device.updatedAt | date:'short' }}
    .status-icon.active(ng-if="device.status")
      span ok
    .status-icon.inactive(ng-if="!device.status")
      span bad
  .bit.actions
    .actions
      button.delete(ng-click="delete(device)")
        .icon(lf-icon icon="trash" width="30" height="30") 
      button.report(ng-click="refresh()")
        .icon(lf-icon icon="refresh" width="30" height="30")
      button.play(ng-click="play(device)")
        .icon(lf-icon icon="play" width="30" height="30")
      button.play(ng-click="stop(device)")
        .icon(lf-icon icon="stop" width="30" height="30")
