.device-controls
  .control-list.btn-grp
    button.ionicon.loop(ng-click="restart()")
    button.ionicon.stop(ng-click="stop()" ng-if="ping.status === 'playing'")
    button.ionicon.play(ng-click="play()" ng-if="ping.status === 'stopped'")
  .errored-text-container(ng-if="!ping || ping.status === 'errored'")
    p.error-text(ng-if="!ping") {{ "device.errors.unable_to_communicate" | i18n }}
    p.error-text(ng-if="ping.status === 'errored'") {{ ping.error| deviceErrors }}
  .current-state-info(ng-if="ping.status === 'playing'")
    .info-bottom
      .current-playback
        .playback-info(ng-if="ping.track_id >= 0")
          i.ionicon.radio-waves
          h1.current-track.gill.medium {{currentTrack()}}
