.device-info.directive
  .info-inner
    .device-brief
      .device-state
        .status-icon(lf-device-status-icon manager="manager")
      .device-delete(ng-if="is_owner()")
        button.remover(ng-click="destroy()")
          i.ionicon.trash
      .device-name-date
        .device-serial
          h2.foundry.light(title="{{serial.serial_number}}") {{serial.serial_number.substr(0, 6)}}
        .name-container.input-container(ng-if="is_owner()")
          .name-input(lf-easy-input value="device.name" finish="updates.name")
        .name-container.not-owner(ng-if="!is_owner()")
          p.name {{device.name}}
    .share-zone(ng-if="is_owner()")
      .share-title
        i.ionicon.stalker
        p.gill.light device shares
      ul.shared-list(ng-if="permissions.length > 0")
        li.permission(ng-repeat="permission in permissions track by permission.id" data-level="{{permission.level}}" ng-if="permission.user.id !== current_user.id")
          .gravatar
            .gravatar-thumb
              .thumb-container
                img.gravatar-image(ng-attr-src="{{permission.user.gravatar_url}}")
          .username
            p.user-name.foundry.medium {{permission.user.username}}
          .actions
            a.button.remover(ng-click="removePermission(permission)")
              i.ionicon.trash
          .tf
            .tc
              .flair(ng-class="{blue: 1}")
                p.permission-level.sans {{("device_permissions." + permission.level) | i18n}}
      p.info-box.no-permissions(ng-if="!permissions.length") you havent shared this device
      .share-control(lf-device-share device="device" permissions="permissions")
