.device-info.directive
  .info-inner
    .device-brief
      .device-state
        .status-icon(lf-device-status-icon manager="manager")
      .device-delete(ng-if="is_owner()")
        button.remover(ng-click="destroy()")
          i.ionicon.trash
      .device-name-date
        .input-container(ng-if="is_owner()")
          .name-input(lf-easy-input value="device.name" finish="updates.name")
        .name-container.not-owner(ng-if="!is_owner()")
          p.name {{device.name}}
    .share-zone(ng-if="is_owner()")
      .share-title
        i.ionicon.stalker
        p.gill.light device shares
      ul.shared-list(ng-if="permissions.length > 0")
        li.permission(ng-repeat="permission in permissions track by permission.id" data-level="{{permission.level}}" ng-if="permission.user.id !== current_user.id")
          .actions
            button.remover(ng-click="removePermission(permission)")
              i.ionicon.trash
          .info
            p.user-name.sans {{permission.user.username}}
            p.permission-level.sans {{permission.level | permissionLevel}}
      p.info-box.no-permissions(ng-if="!permissions.length") you havent shared this device
      .share-control(lf-device-share device="device" permissions="permissions")
