.device-controls
  .current-state-info
    .info-bottom
      .device-state
        p.label.upper.gill.light device
        p.device-value.gill.bold {{ping.status | deviceState}}
      .stream-state
        p.label.upper.gill.light stream
        p.stream-value.gill.bold(ng-if="ping.stream") {{ping.stream | streamState}}
  .control-list.btn-grp
    button.ionicon.stop(ng-click="stop()")
    button.ionicon.play(ng-click="play()")
