.easy-input
  .textarea-input(ng-if="type === 'textarea'")
    textarea(ng-model="$parent.values.mask" ng-focus="onFocus()" ng-blur="onBlur()")
  .text-input(ng-if="type !== 'textarea'")
    input(type="text" ng-model="$parent.values.mask" ng-focus="onFocus()" ng-blur="onBlur()")
  .menu-container
    .popup-buttons(lf-popup delegate="focused")
      .easy-input-menu
        a.button(ng-click="save()")
          i.ionicon.check
        a.button(ng-click="cancel()")
          i.ionicon.close
