.footer.main
    .footer-logo
      .icon(lf-icon icon="logo" width="30" height="30" scale="1.5")
    ul
      li
        a(href='javascript:void(0)') About
      li
        a(href='javascript:void(0)') Contact
    .footer-secondary-links
      ul
        li
          a(href='javascript:void(0)') Terms and Conditions
      ul.footer-social
        li
          a(href='javascript:void(0)')
            img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png', alt='')
        li
          a(href='javascript:void(0)')
            img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png', alt='')
        li
          a(href='javascript:void(0)')
            img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png', alt='')

