.footer.main
    .footer-logo
      .icon(lf-icon icon="logo" width="30" height="30" scale="1.5")
    ul
      li
        a(href='/about') About
      li
        a(href='/contact') Contact
    .footer-secondary-links
      ul.footer-social
        li
          a(href='http://google.com/+Loftiliapp')
            .icon(lf-icon icon="google" width="22" height="22" fill="#fdfdfd" scale="1.2")
        li
          a(href='https://twitter.com/loftili')
            .icon(lf-icon icon="twitter" width="22" height="22" fill="#fdfdfd" scale="1.1")
        li
          a(href='javascript:void(0)')
            .icon(lf-icon icon="youtube" width="22" height="22" fill="#fdfdfd" scale="1.1")

