.footer.main
  .footer-inner
    .footer-logo
      a.home-link(href="/")
        .icon(lf-icon icon="logo" width="30" height="30" scale="1.5")
    ul
      li
        a(href='/about') About
      li
        a(href='/contact') Contact
    .footer-secondary-links
      .expander
        a.button.link-menu-toggle(ng-click="toggleLinks()")
          i.ionicon.more
      ul.footer-social(ng-class="{open: links_open}")
        li
          a.social-link(href="http://mail.loftili.com/mailman/listinfo/info_loftili.com" target="_blank" ng-click="track('mail', $event)")
            .icon(lf-icon icon="mail" width="22" height="22" fill="#fdfdfd" scale="1.5")
        li
          a.social-link(href="https://github.com/loftili" target="_blank" ng-click="track('github', $event)")
            .icon(lf-icon icon="github" width="22" height="22" fill="#fdfdfd" scale="1.5")
        li
          a.social-link(href="http://jira.sizethreestudios.com/secure/RapidBoard.jspa?rapidView=4" target="_blank" ng-click="track('jira', $event)")
            .icon(lf-icon icon="jira" width="22" height="22" fill="#fdfdfd" scale="1.2")
        li
          a.social-link(href="http://google.com/+Loftiliapp" target="_blank" ng-click="track('google', $event)")
            .icon(lf-icon icon="google" width="22" height="22" fill="#fdfdfd" scale="1.2")
        li
          a.social-link(href="https://twitter.com/loftili" target="_blank" ng-click="track('twitter', $event)")
            .icon(lf-icon icon="twitter" width="22" height="22" fill="#fdfdfd" scale="1.1")
        li
          a.social-link(href="https://www.youtube.com/channel/UC9UwH1yJl8s5Ldwp2i-Vf1g" target="_blank" ng-click="track('youtube', $event)")
            .icon(lf-icon icon="youtube" width="22" height="22" fill="#fdfdfd" scale="1.1")

