.footer.main
    .footer-logo
      img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png', alt='')
    ul
      li
        a(href='javascript:void(0)') About
      li
        a(href='javascript:void(0)') Contact
      li
        a(href='javascript:void(0)') Products
    .footer-secondary-links
      ul
        li
          a(href='javascript:void(0)') Terms and Conditions
        li
          a(href='javascript:void(0)') Privacy Policy
      ul.footer-social
        li
          a(href='javascript:void(0)')
            img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png', alt='')
        li
          a(href='javascript:void(0)')
            img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png', alt='')
        li
          a(href='javascript:void(0)')
            img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png', alt='')

