.header.main
  .header-inner
    .navigation-wrapper
      a.logo(href='/')
        .icon(lf-icon icon="logo" width="30" height="30" scale="1.5" fill="white")
      .nav.guest-nav(ng-if="!user()")
        ul.navigation-menu-list
          li.nav-link
            a(href='/about' ng-class="{active: active_route === 'about'}") about
          li.nav-link
            a(href='/faq' ng-class="{active: active_route === 'faq'}") faq
          li.nav-link
            a(href='/blog' ng-class="{active: active_route === 'blog'}") blog
          li.nav-link
            a(href='/contact' ng-class="{active: active_route === 'contact'}") contact
      .nav.user-nav(ng-if="user()")
        ul.navigation-menu-list
          li.nav-link
            a(href='/dashboard' ng-class="{active: active_route === 'dashboard'}") dashboard
      .navigation-tools
        .logged-out(ng-if="!user()")
          button(ng-click="toggle($event)" ng-class="{close: form_active, login: !form_active}")
            i.login.ionicon
        .btn-grp.logged-in(ng-if="user()" ng-attr-active="{{active_route}}")
          a.button(href="/account" ng-class="{active: active_route === 'account'}")
            i.ionicon.account
          a.button.sign-out(ng-click="logout($event)")
            i.ionicon.logout
      .login-wrapper(ng-if="!user()")
        .login-container(ng-class="{active: form_active}" data-mm-noclose="true")
          .container(lf-login-form close="closeLogin")
         
