.header.main
  .navigation-wrapper
    a.logo(href='javascript:void(0)')
      img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png', alt='')
    .nav
      ul#navigation-menu
        li.nav-link
          a(href='#') About
        li.nav-link
          a(href='#') Contact
    .navigation-tools
      button.sign-up(ng-if="!user()" ng-click="toggle()") Login
      button.sign-out(ng-if="user()" ng-click="logout()") Logout
    .login-wrapper
      .login-container(ng-class="{active: form_active}")
        .container(lf-login-form)

