.login-form
  h1 Login
  .input-container
    p email
    input(type="text" ng-keyup="keywatch($event)" ng-model="credentials.email")
  .input-container
    p password
    input(type="password" ng-keyup="keywatch($event)" ng-model="credentials.password")
