.notification-manager
  .notification-container(ng-repeat="n in notifications")
    .notification-inner(ng-class="{error: n.type === 'error', info: n.type === 'info', success: n.type === 'success'}")
      p.notification-message{{ n.message }}
