.signup-form
  h1 Sign up
  .input-container
    input(type="text")
    .label 
      p.text 
        span email
  .input-container
    input(type="text")
    .label 
      p.text 
        span first name
  .input-container
    input(type="text")
    .label 
      p.text 
        span last name
  .input-container
    input(type="password")
    .label 
      p.text 
        span password

