.signup-form
  .top
    h1 Sign up
  .form-container
    .flash(lf-flash-message messages="errors")
    .input-container
      input(type="text" placeholder="email" ng-model="credentials.email" ng-keyup="keywatch($event)")
    .input-container
      input(type="text" placeholder="first name" ng-model="credentials.first_name" ng-keyup="keywatch($event)")
    .input-container
      input(type="text" placeholder="last name" ng-model="credentials.last_name" ng-keyup="keywatch($event)")
    .input-container
      input(type="password" placeholder="password" ng-model="credentials.password" ng-keyup="keywatch($event)")
    .input-container
      button(ng-click="attempt()") sign up

