.stream-track-listing.directive
  .stream-item.list-item(ng-repeat="track in manager.stream.queue")
    .track-info-container
      .title-container
        a.track-title.foundry.medium(ng-attr-href="tracks/{{track.id}}") {{track.title}}
      .artist-container(ng-repeat="artist in [artistFor(track)]")
        a.track-title.foundry.medium(ng-attr-href="artists/{{artist.id}}") {{artist.name}}
    .track-actions.button-group(ng-if="manager.contributor")
      a.button.remover(ng-click="remove($index)")
        i.ionicon.close

