.stream-track-listing.directive(lf-draggable-list ng-class="{concrete: !manager.contributor}")
  .stream-item.list-item(ng-repeat="track in manager.stream.queue" lf-draggable)
    .draggable-innards
      .track-list-item(lf-stream-track-list-item track="track" manager="manager" index="$index")
