.stream-track-search.directive
  .search-input-container
    input.search-input(type="text" ng-model="search.query" ng-change="update()" placeholder="search for tracks to add to the stream")
  .result-info(ng-if="results !== null")
    .no-results(ng-if="results.length === 0")
      p.no-result-text.bold no results found
    .results-container(ng-if="results.length > 0")
      .closer-container
        a.button.closer(ng-click="clear()")
          i.ionicon.close
      ul.result-list
        li.result-item.list-item(ng-repeat="result in results")
          .inner(ng-attr-uuid="{{result.uuid}}")
            .item-controls
              a.button.adder(ng-click="add(result)")
                i.ionicon.add
            .provider-container
              .tf
                .tc
                  .flair(ng-class="{'blue': result.provider === 'LF', 'soundcloud-orange': result.provider === 'SC'}")
                    p.permission-level.sans {{("media.providers." + result.provider) | i18n}}
            .track-info-container
              .title 
                a.track-link.foundry(ng-attr-href="/tracks/{{result.id}}") {{result.title}}
              .artist-container(ng-repeat="artist in [artistFor(result)]")
                a.track-title.foundry.medium(ng-attr-href="artists/{{artist.id}}" ng-if="artist.id") {{artist.name}}
                p.unkown-artist(ng-if="!artist.id") &nbsp;
