.stream-track-search-item.directive
  .inner(ng-attr-uuid="{{result.uuid}}")
    .item-controls
      a.button.adder(ng-click="add(result)")
        i.ionicon.add
    .provider-container
      .tf
        .tc
          .flair(ng-attr-data-provider="{{result.provider}}")
            p.permission-level.sans {{("media.providers." + result.provider) | i18n}}
    .track-info-container(ng-repeat="a in [artist()]")
      p.title-artist.foundry(ng-if="a")
        span.title-container {{result.title}}
        span.artist-container
          span.title-container(ng-if="a.name") {{a.name}}
      p.title-only.foundry(ng-if="!a")
        span.title-container {{result.title}}
