.stream-manager.directive
  .stream-info
    .basic-info
      .title-container
        .title-edit(ng-if="manager.owner")
          .privacy-selection
            .privacy-toggle(ng-class="{active: manager.stream.privacy !== 0}")
              .toggle-point(ng-click="updates.privacy()")
              .toggle-track
                .left-text
                  p.upper.foundry.medium private
                  .tooltip(lf-tooltip)
                    p.text Only contributors can subscribe to this stream
                .right-text
                  p.upper.foundry.medium public
                  .tooltip(lf-tooltip)
                    p.text Anyone can subscribe to this stream
          .title-input(lf-easy-input value="manager.stream.title" finish="updates.title")
        .title-display(ng-if="!manager.owner")
          h1.foundry.bold {{manager.stream.title}}
      .description-container
        .description-edit(ng-if="manager.owner")
          .description-input(lf-easy-input type="textarea" value="manager.stream.description" finish="updates.description")
        .description-display(ng-if="!manager.owner")
          h1.foundry.light {{manager.stream.description}}
    .ownership-info
      .ownership-title
        h1.foundry.upper Maintained by:
      .ownership-list
        .ownership-item.list-item(ng-repeat="p in manager.permissions")
          .gravatar
            .gravatar-thumb
              .thumb-container(ng-repeat="u in [userFor(p)]")
                img.gravatar-image(ng-attr-src="{{u.gravatar_url}}")
          .username(ng-repeat="u in [userFor(p)]")
            p.foundry.medium {{u.username}}
          .actions(ng-if="manager.owner && p.level !== 1")
            a.button.remover(ng-click="removePermission(p.id)")
              i.ionicon.close
          .tf
            .tc
              .flair(ng-attr-level="{{p.level}}" ng-class="{gold: p.level === 1, blue: p.level === 4, green: p.level === 2}")
                p.owner.foundry.medium.upper {{ ("stream_permissions." + p.level) | i18n}}
      .stream-ownership-manager(ng-if="manager.owner")
        .stream-permission-control(lf-stream-permission-control manager="manager")
    .stream-actions
      .stream-deletion(ng-if="manager.owner")
        a.button.deletion(ng-click="destroy()")
          i.ionicon.trash
      .stream-unsubscription(ng-if="manager.contributor && !manager.owner")
        a.button.unsubscribe(ng-click="unsubscribe()")
          i.ionicon.logout
  .stream-control
    .stream-list-container(ng-if="manager.stream.queue.length")
      .stream-list-container(lf-stream-track-listing manager="manager")
        .listing(lf-stream-track-listing manager="manager")
    .no-tracks(ng-if="!manager.stream.queue || !manager.stream.queue.length")
      p.foundry.medium {{"streams.empty" | i18n}}
    .stream-addition(ng-if="manager.contributor")
      .track-upload(lf-stream-track-upload manager="manager")
      .stream-track-search(lf-stream-track-search manager="manager")
