.track-upload-form
  .title-container
  .problems(lf-flash-message messages="failures")
  form.form-container
    .input-container
      .btn-grp
        .file
          button.cover.ionicon.folder
          input(type="file" name="file" multiple onchange="angular.element(this).scope().file(this)")
        .track-search(lf-track-search ng-class="{open: searching}")
        button.url.ionicon(ng-click="toggleSearch()" ng-class="{search: !searching, close: searching}")
  .progress
    .upload-list
      .uploading(ng-repeat="upload in uploading")
        .text
          p.msg 
            span Uploading: 
            span.upload-name {{ upload.name }}
        .loader(lf-progress-bar)
