.track
  .info
    .bit.name(ng-class="{missing: !track.title}")
      p {{ track.title || 'not found' }}
    .bit.artist
      p {{ track.artist.name || 'not found' }}
    .bit.filetype
      p {{ track.type }}
    .bit.added
      p {{ track.createdAt | date:'shortDate' }}
  .actions
    .action
