.track-edit-form
  .artist
    input(type="text" placeholder="arist" ng-model="edits.track.artist.name" ng-keyup="keywatch($event)")
  .title
    input(type="text" placeholder="title" ng-model="edits.track.title" ng-keyup="keywatch($event)")
