.track-list
  .list-header
    .bit.name
      p track name
    .bit.artist
      p artist
    .bit.filetype
      p type
    .bit.added added
    
  .list-container
    .track-container(ng-repeat="track in tracks")
      .track(lf-track track="track")
