.track-upload-form.directive
  .title-container
  .problems(lf-flash-message messages="failures")
  form.form-container
    .input-container
      .action-group
        .file
          a.cover.button
            i.ionicon.folder
          input(type="file" name="file" multiple onchange="angular.element(this).scope().file(this)")
        .track-search(lf-track-search ng-class="{open: searching}")
        a.search-toggle.button(ng-click="toggleSearch()")
          i.ionicon(ng-class="{search: !searching, close: searching}")
  .progress
    .upload-list
      .uploading(ng-repeat="upload in uploading")
        .text
          p.msg.foundry uploading: 
            span.blurb {{upload.name}}
        .loader(lf-progress-bar)
