.track
  .info
    .bit.name
      p {{ track.name }}
    .bit.artist
      p {{ track.artist.name }}
    .bit.filetype
      p {{ track.type }}
    .bit.added
      p {{ track.createdAt | date:'shortDate' }}
  .actions
    .action
