.track
  .info
    .bit.name(ng-class="{missing: !track.title}")
      p {{ track.title || 'not found' }}
    .bit.artist
      p {{ track.artist.name || 'not found' }}
    .bit.actions.btn-grp(ng-if="manager")
      button.remover(ng-click="drop()")
        i.ionicon.close
