.track-list
  .list-header
    .bit.name
      p track name
    .bit.artist
      p artist
    .bit.added 
      p added
    .bit.actions(ng-if="manager")
  .list-container
    .track-container(ng-repeat="track in tracks")
      .track(lf-track track="track" manager="manager")
