.user-streams.directive
  .stream-list-container
    .stream-list
      .stream.list-item(ng-repeat="stream in (streams | orderBy:'id')")
        .title-container
          p.title {{stream.title}}
        .action-container
          a.button(href="/streams/{{stream.id}}")
            i.ionicon.account
        .stream-flair.tf(ng-repeat="p in [permissionFor(stream)]")
          .tc
            .flair(ng-attr-level="{{p.level}}" ng-class="{gold: p.level === 1, blue: p.level === 4, green: p.level === 2}")
              p.foundry.medium.upper {{ ("stream_permissions." + p.level) | i18n }}
  .quick-stream-create
    .stream-title
      .actions
        a.button.create-trigger(ng-click="createStream()")
          i.ionicon.add
      .inputs
        input.title(name="title" ng-model="new_stream.title" placeholder="title" ng-keyup="keyUp($event)")
        input.description(name="description" ng-model="new_stream.description" placeholder="description" ng-keyup="keyUp($event)")
