.account.view
  .inner
    .account-info
      .section-title
        h2.title Account info
      .section-content
        .info.name-container
          .label
            p Name:
          .value
            p.first {{user.first_name}} 
            p.last {{user.last_name}}
        .info
          .label
            p Email
          .value
            p.email {{user.email}}
        .info.password
          .value
            .opener(ng-if="!changing_password")
              a.button(ng-click="startPasswordChange()" href="#") Change password
            .input(ng-if="changing_password")
              .errors(lf-flash-message messages="errors")
              .fields
                input(type="password" placeholder="password" ng-keyup="update('password', $event)")
                input(type="password" placeholder="confirm" ng-keyup="update('password_confirm', $event)")
              .actions
                a.button(ng-click="savePassword()" href="#") Save
        .info.privacy-info
          .label
            p Privacy level:
          .value.level(ng-switch="user.privacy_level")
            .invisible(ng-switch-when="5")
              p Hidden
            .visible(ng-switch-when="1")
              p Visible 
