.dashboard.view(ng-attr-active="{{active_nav}}")
  .stream-section-container(ng-if="active_nav === 'streams' || active_nav === 'overview'")
    .stream-list-wrapper.half-section
      .section-top
        a.foundry.light.upper.subtitle(href="/dashboard/streams") streams
      .bottom
        .user-streams(lf-user-streams streams="streams")
  .device-section-container(ng-if="active_nav === 'devices' || active_nav === 'overview'")
    .device-list-wrapper.half-section
      .section-top
        a.foundry.light.upper.subtitle(href="/dashboard/devices") devices
      .bottom
        .user-devices(lf-user-devices devices="devices")

