.device-management.view
  .inner
    .device-info(lf-device-info manager="manager" device="device" permissions="permissions" serial="serial")
    .where-the-magic-happens
      .device-controls(lf-device-controls manager="manager")
      .device-queue(lf-device-queue queue="queue" manager="manager")
