.view.device-management
  .inner
    .device-info(lf-device-info device="device" permissions="permissions")
    .where-the-magic-happens
      .device-controls(lf-device-controls device="device")
      .device-queue(lf-device-queue device="device" queue="queue")
