.device-management.view
  .inner
    .device-info(lf-device-info manager="manager" device="device" permissions="permissions" serial="serial")
    .where-the-magic-happens
      .connected(ng-if="manager.connected")
        .device-controls.section(lf-device-controls manager="manager")
        .stream-info.present.section(ng-if="manager.stream")
          .stream-list
            .stream-item.list-item(ng-repeat="track in manager.stream.stream.queue")
              .track-info-container
                p.track-title.foundry.medium {{track.title}}
        .stream-info.missing(ng-if="!manager.stream")
          .missing-info
            p.foundry.light No stream selected. Return to the 
              a.to-dashboard(href="/dashboard") dashboard
              |  to create one now.
      .not-connected(ng-if="!manager.connected")
        h1.foundry.medium Your device does not appear to be connected.
