.device-management.view
  .inner
    .information-happenings
      .device-info(lf-device-info manager="manager" device="device" permissions="permissions" serial="serial")
      .device-history-container
        .bbi
          h1.foundry.medium History
          .device-history(lf-device-history loader="history_loader" device="device")
    .where-the-magic-happens
      .connected(ng-if="manager.connected")
        .device-controls.section(lf-device-controls manager="manager")
        .stream-info.present.section(ng-if="manager.stream")
          .stream-control(ng-repeat="stream_manager in [manager.stream]")
            .stream-list-cotnainer
              .listing(lf-stream-track-listing manager="stream_manager")
            .stream-addition(ng-if="stream_manager.contributor")
              .track-upload(lf-stream-track-upload manager="stream_manager")
              .stream-track-search(lf-stream-track-search manager="stream_manager")
        .stream-info.missing(ng-if="!manager.stream")
          .missing-info
            p.foundry.light No stream selected. Return to the 
              a.to-dashboard(href="/dashboard") dashboard
              |  to create one now.
      .not-connected(ng-if="!manager.connected")
        h1.foundry.medium Your device does not appear to be connected.

