.view.device-management
  .inner
    .device-info(lf-device-info device="device" permissions="permissions")
    .where-the-magic-happens
      .device-controls(lf-device-controls manager="manager")
      .device-queue(lf-device-queue queue="queue" manager="manager")
