.home.view
  .inner
    .top(ng-include="'partials.home.intro'")
    hr
    .bottom
      .intro(ng-include="'partials.home.features'")
      .sign-up
        .filler(ng-include="'partials.home.coming_soon'")
    .about(ng-include="'partials.home.about'")
