.join.view
  .welcome-message
    h2.canberra.light welcome to
    h1.bodoni loftili
  .signup-container
    .joining-details(lf-dynamic-content content="content")
    .form-wrapper
      .sign-up(lf-signup-form token="token")
