.request-account.view
  .content-container
    .marketing-intro
      .title
        h1.bodoni Ready to get started?
      .middle
        .text
          p.foundry.medium Hopefully by now you're pretty excited about getting your own 
            | loftili device up and running at home, or you've got a friend who's got one 
            | and you want to see what our platform is all about. We're excited to have you 
            | come on board too, but until we finish "getting the kinks out", we're keeping 
            | our signup process relatively closed. If you're still, interested, send us your 
            | email and we'll create a device serial number and invitation for you as 
            | soon as we can.
        .request-form-container
          .request-form(lf-account-request-form)
      .siggy
        p.foundry.light - the loftili team
