.track-management.view
  .track-info
    .track-title
      h1.foundry.medium {{track.title}}
    .track-year
      h1.foundry.medium {{track.year}}
  .artist-info
    .artist-name
      h1.foundry.medium {{artist.name}}
