@mixin basic-button
  +input-properties
  +transition(all 200px ease)
  +linear-gradient($base-accent-color, darken($base-accent-color, 10))
  border: 1px solid lighten($base-accent-color, 1)
  text-transform: uppercase
  cursor: pointer
  color: white
