.blog-post
  +outer-container
  border-left: 2px solid darken($light-gray, 10)
  margin: 0 0 20px 0
  padding: 0 0 0 20px

  .post-title
    +outer-container
    margin-bottom: 20px

    h1.title-text
      +span-columns(10)
      line-height: 54px

    .title-date
      +span-columns(2)
      text-align: right

      h2
        font-size: 12px
        text-transform: uppercase
        font-family: $sans-serif
        line-height: 54px

        span
          border-bottom: 2px solid darken($light-gray, 15)

  .content p
    text-indent: 1em
