.client-token-list.directive
  display: block

  .token-list
    @extend %alternating-list
    display: block
    list-style: none

  p.client-name
    line-height: 1.8em
    font-size: 1em

  .token-list .token
    +clearfix
    height: auto

    .name-container
      overflow: hidden
      height: auto

  .token-container .copyblock
    display: block
    float: left

  .token-container .actions
    display: block
    float: left
    
  .token-container
    +clearfix
    float: right

    code.client-token
      margin-top: -0.25em
      padding: 2px 8px
      font-size: 1em

    code.client-token, 
    a.token-display-toggle
      display: block
      float: left

    a.token-display-toggle
      @extend %transparent-button
      line-height: 1.8em
      margin: 0 10px

    button.remover
      @extend %small-button
      font-size: 0.8em
      line-height: 1.8em
      padding: 0 0.4em

    .token-display-toggle
      cursor: pointer
      color: $blue-color
      margin: 0 0 0 10px
