.device-queue
  display: block

  .queue-track-list
    list-style: none

  .track-container
    +clearfix
    display: block
    padding: 5px 10px
    border-radius: 2px
    background: white
    border-bottom: 1px solid darken(white, 5)
    border-top: 1px solid darken(white, 1)

    &:first-child
      border-top: none

    &:nth-child(odd)
      background: darken(white, 3)

  .search-area
    margin: 10px 0 0 0

  .controls
    position: relative
    padding: 10px 0 0 0
    margin: 20px 0 0 0
    border:
      top: 1px solid darken(white, 10)
    
    button.search-toggle-button
      position: absolute
      height: 8px
      width: 8px
      left: -9px
      top: -9px
      padding: 5px

      &:after
        line-height: 8px
        font-size: 8px

  .track-container .inner-container
    +clearfix

    .item-controls
      float: right
      margin-top: 2px

      button
        height: 10px
        width: 10px
        display: block

        &:after 
          font-size: 10px
          line-height: 10px
    
    .queue-index,
    .track-title
      float: left
      display: block
      margin: 0 10px 0 0

    .queue-index
      font-size: 16px
