.device-share.directive
  display: block
  padding: 10px 0 0

  .share-top
    margin: 0 0 10px 0

  .share-top .device-name
    color: darken(white, 60)
    font-size: 0.8em

  .results
    display: block
    margin: 10px 0 0 0
    padding: 10px 0 0 0
    border-top: 1px solid darken(white, 25)

  .results .result
    +clearfix
    display: block

  .results .result .trigger
    float: right

  .results .result .username
    display: block
    overflow: hidden
    height: auto
    line-height: 1.8em
    font-size: 1em

  +popup-style
    +basic-popup
    width: 200px
    height: auto
