.device-status-icon.directive
  position: relative
  display: block
  font-size: 1em
  line-height: 1em

  .status-icon
    +linear-gradient(darken(white, 3), darken(white, 5))
    border: 1px solid darken(white, 8)
    border-radius: 2px
    text-align: center

    &.active
      +linear-gradient($color-green, darken($color-green, 5))
      border: 1px solid darken($color-green, 8)

  .status-icon.active .ionicon:after
    color: darken($color-green, 20)
    text-shadow: 1px 1px darken($color-green, 25)

  .ionicon,
  .ionicon:after
    text-align: center
    font-size: 1em
    line-height: 1em
    color: darken(white, 35)
    text-shadow: 1px 1px white
