.device-queue-search.directive
  display: block
  position: relative

  .search-input
    margin: 0

  .search-input-container
    +clearfix
    display: block
    position: relative

  .result-info
    position: absolute
    top: 100%
    left: 0
    margin: 10px 0 0 0
    width: 100%
    background: darken(white, 5)
    border: 1px solid darken(white, 10)
    border-radius: 2px
    padding: 5px  0

  .no-result-text
    display: block
    padding: 5px 10px
    text-transform: uppercase
    color: darken(white, 25)
    font-size: 10px

  .result-list
    list-style: none

  li.result-item > .inner
    +clearfix

    .title
      float: left

    .item-controls
      float: right
      overflow: hidden

      button
        +small-button
