.device-share.directive
  display: block
  padding: 10px 0 0

  .share-top
    margin: 0 0 10px 0

  .share-top .device-name
    color: darken(white, 60)
    font-size: 0.8em

  .results
    @extend %alternating-list
    display: block
    margin: 10px 0 0 0
    border: 1px solid darken(white, 20)
    border-radius: 2px
    background: darken(white, 3)

  .existing-permissions
    padding: 10px 0 0 0

  .results .result,
  .existing-permissions .permission
    +clearfix
    display: block
    font-size: 0.8em
    line-height: 1.8em
    padding: 0.5em 0

  .results .result
    padding: 0.5em

  .results .result .trigger,
  .existing-permissions .permission .remover
    @extend %small-button
    float: right

  .existing-permissions .permission .remover
    @extend %red-button

  .existing-permissions .permission .remover

  .results .result .username,
  .existing-permissions .permission .name
    display: block
    overflow: hidden
    height: auto

  +popup-style
    @extend %basic-popup
    width: 200px
    height: auto
