.device-controls
  display: block
  +clearfix

  .errored-text-container
    overflow: hidden
    height: auto
    background: darken(white, 10)
    border: darken(white, 15)
    color: darken(white, 50)
    height: 32px
    border-radius: 2px

    .error-text
      line-height: 22px
      display: block
      padding: 5px 10px
      text-transform: uppercase
      font-size: 10px

  .current-state-info
    width: auto
    height: auto
    overflow: hidden

  .current-state-info .playback-info
    +clearfix
    padding: 0.2em 0.5em
    line-height: 1em
    background: darken(white, 8)
    border: 1px solid darken(white, 18)
    border-radius: 3px
    display: inline-block

  .current-state-info .playback-info .ionicon,
  .current-state-info .playback-info .current-track
    display: block
    float: left

  .current-state-info .playback-info .current-track
    margin-left: 10px

  .control-list
    height: auto
    list-style: none
    float: left
    padding: 0
    margin: 0 10px 0 0

  .control-list 
    @extend %button-group
  
  .control-list .button 
    @extend %small-button
