.device-queue.directive
  display: block

  .queue-track-list
    list-style: none

  .track-container
    +clearfix
    display: block
    padding: 5px 10px
    border-radius: 2px
    background: white
    border-bottom: 1px solid darken(white, 5)
    border-top: 1px solid darken(white, 1)

    &:first-child
      border-top: none

    &:nth-child(odd)
      background: darken(white, 3)

  .search-area
    margin: 10px 0 0 0

  .controls
    position: relative
    padding: 10px 0 0 0
    margin: 20px 0 0 0
    border:
      top: 1px solid darken(white, 10)
    
  .controls .search-toggle-button
    +small-button
    position: absolute
    top: -1em
    left: 0em

  .track-container .inner-container
    +clearfix
    line-height: 1.8em

    .item-controls
      float: right
      margin-top: 2px

      button
        +small-button
    
    .queue-index,
    .track-title
      float: left
      display: block
      margin: 0 10px 0 0

    .queue-index
      font-size: 16px
