.device-info.directive
  +clearfix

  > .info-inner
    +clearfix

  .device-brief
    +clearfix
    padding: 0 0 10px 0

  .device-brief .device-delete
    float: right

  .device-brief .device-delete .remover
    +small-button
    +red-button

  .device-brief .device-state
    float: left
    width: 2em
    margin: 0 10px 0 0

  .device-brief .device-name-date .date
    font-size: 0.8em

  .device-brief .device-name-date .name
    font-size: 1.2em

  .device-brief .device-state .status-icon
    height: 2em
    font-size: 1em

  .device-brief .device-state .status-icon .ionicon:after
    line-height: 2em

  .device-brief .device-name-date
    overflow: hidden
    height: auto

  .share-zone .share-title
    +clearfix
    border-bottom: 1px solid darken(white, 8)
    padding: 0 0 5px 0 
    margin: 0 0 5px 0

  .share-zone .share-top
    display: none

  .share-zone .share-title p,
  .share-zone .share-title .ionicon
    display: inline-block

  .share-zone .shared-list
    display: block

  .share-zone .shared-list .permission
    +clearfix
    line-height: 1.7em
    font-size: 0.8em
    padding: 0.25em 0

  .share-zone .shared-list .permission .actions
    float: right

  .share-zone .shared-list .permission .actions button
    +small-button

  .share-zone .shared-list .info
    +clearfix
    height: auto
    overflow: hidden

  .share-zone .shared-list .info p
    display: inline-block
