.device-list
  margin: 0 10px

  .list-header
    +outer-container
    margin: 0 0 10px 0
    
    .bit
      border-bottom: 1px solid darken($light-gray, 5)
      color: darken($light-gray, 10)

  .list-container
    .device-container
      margin: 0 0 10px 0

  .bit
    +span-columns(2)
    overflow: hidden
    &.status
      overflow: visible
    p
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      margin-bottom: 0px

    &.ip_addr
      +span-columns(2)

    &.port
      +span-columns(1)

    &.name
      +span-columns(4)

    &.status
      +span-columns(1.5)
      position: relative
    
    &.actions
      +span-columns(3.5)
      +omega
      text-align: right
        

