.device-creator.directive
  @extend %basic-form

  .form-container
    +clearfix

  .form-container .input-container.serial-input
    position: relative

  .serial-input .generate-tooltip
    position: absolute
    right: 0.3em
    top: 0.3em
    width: 1.6em
    height: 1.6em
    font-size: 1em
    line-height: 1em
    cursor: pointer

  .serial-input .generator
    @extend %small-button
    position: absolute
    right: 0.3em
    top: 0.3em

  .form-container .actions
    float: right
    margin-left: 10px

  .form-container .fields
    overflow: hidden
    height: auto
    padding: 1px

  .form-container .actions .attempt
    @extend %small-button
    margin-top: 0.3em
