.device-controls
  display: block
  +clearfix

  .status-info
    float: right

  .control-list
    height: auto
    list-style: none
    padding: 0
    margin: 0
    overflow: hidden

  .control
    float: left
