.device-list.directive
  display: block

  .list-container
    margin: 20px 0 0 0

  .device-container
    +clearfix
    position: relative
    padding: 4px 10px
    display: block
    border-top: 1px solid darken(white, 10)

    &:last-child
      border-bottom: 1px solid darken(white, 10)

  .bit
    +ellipsis-text
    overflow: hidden
    font-size: 1em
    line-height: 1em

    &.name,
    &.status
      line-height: 1.8em

    &.name
      +span-columns(6)

    &.status
      +span-columns(2)
      overflow: visible

    &.actions
      +span-columns(4)
      text-align: right

      .button
        display: inline-block
        float: none
