.device-status-icon.directive
  position: relative
  display: block
  font-size: 1em
  line-height: 1em

  .status-icon
    background: rgba(0,0,0,0.05)
    box-shadow: inset 0px 0px 2px -1px rgba(0,0,0,0.2), 0px 0px 1px rgba(255,255,255,0.98)
    border: 1px solid rgba(0,0,0,0.2)
    border-radius: 2px
    text-align: center

    &.active
      +linear-gradient($color-green, darken($color-green, 5))
      border: 1px solid darken($color-green, 8)

  .status-icon.active .ionicon:after
    color: darken($color-green, 20)
    text-shadow: 1px 1px darken($color-green, 25)

  .ionicon,
  .ionicon:after
    text-align: center
    font-size: 1em
    line-height: 1em
    color: darken(white, 35)
    text-shadow: 1px 1px rgba(255,255,255,0.75)
