.device-list
  margin: 0 10px

  .list-header
    +outer-container
    margin: 0 0 10px 0
    
    .bit
      border-bottom: 1px solid darken($light-gray, 5)
      color: darken($light-gray, 10)

  .list-container
    .device-container
      margin: 0 0 10px 0

  .device-item
    +outer-container
    .info
      +outer-container
    .actions
      +outer-container
      button
        margin: 0
        width: auto
        height: auto
        float: right
        box-shadow: inset 0px 0px 1px rgba(255,255,255,0.2)
        border-radius: 0px 3px 3px 0px
        outline: none
        padding: 2px
        &.delete
        &:last-child
          border-radius: 3px 0px 0px 3px

  .bit
    +span-columns(2)
    overflow: hidden
    p
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      margin-bottom: 0px

    &.name
      +span-columns(5)

    &.ip_addr
      +span-columns(1.5)

    &.port
      +span-columns(1)

    &.status
      +span-columns(1)

    &.updated
      +span-columns(1.5)

    &.actions
      +span-columns(2)
      +omega
      text-align: right
        

