.easy-input
  +clearfix
  display: block
  position: relative

  .popup-buttons 
    position: absolute
    right: -5px
    top: 0
    width: 1px
    height: 100%

  input
    @extend %bordered-input

.easy-input-menu 
  @extend %button-group

.easy-input-menu .button
  @extend %small-button

