.footer.main
  $footer-background: desaturate(darken($base-accent-color, 20), 30)
  $footer-color: white
  $footer-link-color: transparentize($footer-color, 0.6)
  $footer-disclaimer-color: transparentize($footer-color, 0.6)
  background: $footer-background
  width: 100%
  height: auto

  .footer-wrapper
    +outer-container
    padding: 5px 0

  .footer-logo
    margin: 0px 1em 0px 0.66em
    float: left
    height: 30px

    .home-link
      display: block
      height: 30px

  .icon
    display: block
    height: 22px

  ul
    float: left
    margin-left: 1em
    margin-bottom: 0

  ul li
    padding-right: 1em
    display: inline
    text-align: left
    line-height: 30px

  ul li a
    color: $footer-link-color
    &:hover
      color: transparentize($footer-color, 0)

  .footer-secondary-links
    float: right
    height: 30px

    li
      font-size: .8em
      font-weight: 400

  ul.footer-social
    float: right
    margin-top: 0
    height: 22px
    margin-top: 4px

    li
      float: left
      font-size: 1em
      padding-right: .7em
      height: 22px

      a.social-link
        display: block
        height: 22px

      &:last-child
        padding-right: 0
