.header.main
  background-color: $dark-gray
  border-bottom: 1px solid darken($dark-gray, 10)
  height: 60px
  width: 100%

  > .header-inner
    +outer-wrapper

  .guest-nav
    float: left

  .user-nav
    float: left

  .navigation-wrapper, .login-wrapper
    +clearfix
    +outer-container
    position: relative
    z-index: 9999

  .login-wrapper
    z-index: 9998
    position: absolute
    top: 100%
    right: 0px
    height: 0px
    width: 200px
    +perspective(100px)
    +perspective-origin(center top)

    .flash-message

      li.item
        color: $dark-gray
        background: darken($error-color, 25)

  .login-container
    +transition(all 100ms ease-in)
    +transform(rotate3d(1, 0, 0, -90deg))
    +transform-style(preserve-3d)
    +transform-origin(center top)
    opacity: 0.0
    position: absolute
    z-index: 3
    right: 0px
    width: 200px
    background: $dark-gray
    border: 1px solid lighten($dark-gray, 10)
    padding: 20px 20px
    border-radius: 2px
    color: white
    top: 2px
    box-shadow: 0px 0px rgba(0,0,0,0)

    &.active
      +transform(rotate3d(1,0,0,0deg))
      box-shadow: 0px 0px 2px rgba(0,0,0,0.25)
      opacity: 1.0

  .logo
    float: left
    max-height: 60px
    margin: 0px 1em 0px 0

    .icon
      height: 30px
      margin: 15px 0 0 0

  .navigation-menu-list
    +clearfix

  ul li.nav-link
    text-transform: uppercase
    display: block
    line-height: 60px
    overflow: hidden
    float: left
    padding: 0 10px 0 0

  .nav-link a
    font-size: 14px
    color: darken(white, 35)
    display: inline-block

    +media(max-width 400px)
      font-size: 12px

    &.active,
    &:hover
      color: white

  .active-nav-item a
    border-bottom: 1px solid white
    padding-bottom: 3px

  .navigation-tools
    +clearfix
    display: block
    padding-left: 1em / 2
    clear: both
    background: #505050
    background: transparent
    float: right
    clear: none

    .btn-grp  
      @extend %button-group

    .logged-in,
    .logged-out
      margin-top: 0.8em

  .navigation-tools .logged-in
    +clearfix
 
  .navigation-tools .logged-in .username
    float: left
    margin-right: 10px
    color: darken(white, 30)
    font-size: 1em
    line-height: 2.4em

  .navigation-tools .logged-in .user-navigation
    padding: 1px
    overflow: hidden
    height: auto

  .navigation-tools .logged-in .user-navigation .button
    display: block
    float: left
    border-radius: 0

    &:first-child
      border-top-left-radius: 2px
      border-bottom-left-radius: 2px

    &:last-child
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px
