.invitation-list
  @extend %alternating-list
  
  ul.invitations
    +clearfix
    list-style: none
    display: block

  .invitations .invite-item
    +clearfix

    &:nth-child(odd)
      background: darken(white, 5)

  .invitations .invite-item .sent-at,
  .invitations .invite-item .sent-to
    +span-columns(4)
    line-height: 1.8em
    font-size: 1em

  .invitations .invite-item .actions
    @extend %button-group
    +span-columns(4)
    +clearfix
    text-align: right

  .invitations .invite-item .actions a.remover
    @extend %small-button
    float: right
