.login-form
  +clearfix
  display: block

  .input-container
    margin: 0 0 10px 0

  input
    width: 100%

  .actions
    +clearfix

    .cancel
      float: left

    .btn-grp.others
      float: right
