.notification-manager
  position: relative
  z-index: 1000
  
  .notification-container
    position: fixed
    width: 400px
    left: 50%
    margin: 0 -200px
    top: 0px

    .notification-inner
      padding: 10px 20px
      background: lighten($light-gray, 10)

      border: 
        left: 1px solid $light-gray
        right: 1px solid $light-gray
        bottom: 1px solid $light-gray

      color: darken($light-gray, 40)
      font-size: 14px
      font-family: $font-foundry
