.stream-manager.directive
  display: block
  +clearfix

  .title-edit
    +clearfix

  .title-edit .title-input
    overflow: hidden
    height: auto
    padding: 1px 0

  .title-edit .privacy-selection
    float: left
    margin-right: 10px
    padding-top: 0.4em

    .privacy-toggle .toggle-track .left-text,
    .privacy-toggle .toggle-track .right-text
      line-height: 3em
      font-size: 0.6em
      position: relative

      .tooltip
        width: 70%
        left: 15%
        top: 0

  .title-edit .privacy-selection .privacy-toggle .toggle-track
    background: $blue-color
    border: darken($blue-color, 40)
 
    .right-text
      color: white
      margin-right: 0

    .left-text .tooltip
      width: 0

  .title-edit .privacy-toggle.active .toggle-track
    background: $warning-color
    border: darken($warning-color, 40)
    
    .left-text
      color: darken($warning-color, 30)
      margin-right: 0

    .right-text .tooltip
      width: 0

    .left-text .tooltip
      width: 70%
      left: 15%

  .ownership-info
    display: block
    margin: 20px 0 0 0 

  .ownership-info .ownership-list
    @extend %alternating-list
    margin: 0 0 10px 0

  .ownership-info .ownership-title
    margin-bottom: 5px

  .ownership-info .ownership-title h1
    font-size: 0.8em
    color: darken(white, 20)
    
  .ownership-info .ownership-list .list-item
    +clearfix
    line-height: 1.8em

  .ownership-info .ownership-list .list-item .gravatar,
  .ownership-info .ownership-list .list-item .username
    float: left

  .ownership-info .ownership-list .list-item .gravatar-thumb
    @extend %gravatar-thumb
    margin-right: 10px

  .ownership-info .ownership-list .list-item .tf
    float: right
    height: 1.8em

  .ownership-info .ownership-list .list-item .flair
    @extend %flair
    display: table-cell

  .ownership-info .ownership-list .list-item .actions
    float: right
    margin-left: 10px

  .ownership-info .ownership-list .list-item .actions .button
    @extend %small-button

  .stream-info
    display: block

  .stream-info .title-container
    display: block
    margin: 0 0 10px 0

  .stream-info .description-container
    margin: 0 0 10px 0

  .stream-info .description-container textarea
    width: 100%
    resize: none
    height: 100%
    position: relative

  .stream-info .privacy-selection
    +clearfix
    display: block

  .stream-info .privacy-selection .privacy-toggle
    @extend %toggle
 
  .stream-control .no-tracks
    color: darken(white, 50)
    margin: 0 0 10px 0

  .stream-control .stream-list
    @extend %alternating-list
    margin: 0 0 10px 0

  .stream-control .stream-list .stream-item
    +clearfix
    line-height: 1.8em

  .stream-item .track-info-container
    +span-columns(8)

  .stream-item .track-actions
    +span-columns(4)
    @extend %button-group
    text-align: right

  .stream-item .track-actions .button
    @extend %small-button

  .stream-list .stream-item .track-actions .button
    display: inline-block
    float: none
