.stream-track-listing.directive
  @extend %alternating-list
  display: block

  &.concrete .stream-item .handle
    display: none

  .draggable-innards
    +clearfix
    display: block

  .stream-item
    +clearfix
    line-height: 1.8em

  .stream-item.list-item
    padding-top: 0
    padding-bottom: 0

  .stream-item.list-item .mover
    padding-top: 0.5em
    padding-bottom: 0.5em

  .stream-item.list-item .draggable-innards
    padding-left: 2em

  .stream-item .track-info-container
    +clearfix
    +span-columns(8)

  .stream-item .track-title
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
    display: block

  .stream-item .track-info-container .title-container,
  .stream-item .track-info-container .artist-container
    +span-columns(6)

  .stream-item .track-actions
    +span-columns(4)
    @extend %button-group
    text-align: right

  .track-actions .button
    @extend %small-button

  .stream-item.list-item .track-actions .button
    display: inline-block
    float: none

