.tooltip-maestro
  display: block
  position: absolute
  z-index: 4000

  .tooltip-instance
    +transition(opacity 300ms ease)
    +clearfix
    display: none
    opacity: 0.0
    position: fixed
    width: auto
    height: auto
    background: darken(white, 0)
    border: 1px solid darken(white, 30)
    padding: 5px
    border-radius: 2px


  .tooltip-instance .arrow
    +transform(rotate(45deg))
    background: red
    position: absolute
    width: 10px
    height: 10px
    display: block
    left: 0
    top: -5px
    background: white
    border: 
      top: 1px solid darken(white, 30)
      left: 1px solid darken(white, 30)
