.track-search.directive
  display: block
  position: relative

  .searching-flag
    display: block
    background: rgba(255,255,255,0.9)
    z-index: 2
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  .search-input
    position: relative
    z-index: 1
    outline: none

  &.searching
    .result-list
      display: none

  .result-list
    @extend %alternating-list
    border: 1px solid darken(white, 30)
    position: absolute
    border: none
    z-index: 1
    top: 100%
    left: 0
    margin: 5px 0 0 0
    width: 100%
    height: auto

  .result
    cursor: pointer

  .result-inner
    +clearfix

    .name,
    .artist, 
    .edit-form input[type="text"]
      display: block
      height: 22px
      font-size: 16px
      line-height: 22px
      color: lighten($dark-gray, 2)

    .artist
      float: right

    .name
      overflow: hidden
      width: auto

    .edit-form input[type="text"]
      line-height: 1em
      display: block
      border: none
      background: transparent
      padding: 0
      margin: 0
