.track-upload-form

  .title-container, 
  .form-container
    padding: 0px 10px

  .problems
    margin: 0 10px

  .type
    margin: 0

  .form-container
  
  .input-container
    margin: 5px 0
    box-sizing: content-box
    position: relative

  .input-container.file
    overflow: hidden

    .cover
      position: absolute
      top: 0px
      left: 0px
      width: 100%
      height: 100%
      z-index: 2
      .type
        border: none

    input[type="file"]
      height: 50px
      margin: 0
      opacity: 0.0
      position: relative
      z-index: 3
