.track-upload-form

  .title-container, 
  .form-container
    padding: 0px 10px

  .upload-list
    margin: 0 10px

    .uploading
      +outer-container
      padding: 3px 5px
      border-radius: 2px
      background: darken($base-background-color, 10)

      .text
        +span-columns(8)
        overflow: hidden

        p.msg
          font-size: 0.8em
          margin-bottom: 0px
          line-height: 20px
          span
            float: left
            display: inline-block
            font: $serif
            font-style: normal

          span.upload-name
            margin-left: 0.5em
            white-space: nowrap
            overflow: hidden
            width: 60%
            text-overflow: ellipsis

      .loader
        +span-columns(4)
        +omega
        float: right
        height: 20px

  .problems
    margin: 0 10px

  .type
    margin: 0

  .form-container
  
  .input-container
    margin: 5px 0
    box-sizing: content-box
    position: relative

  .input-container.file
    overflow: hidden

    .cover
      position: absolute
      top: 0px
      left: 0px
      width: 100%
      height: 100%
      z-index: 2
      padding: 0
      .type
        border: none

    input[type="file"]
      height: 50px
      margin: 0
      opacity: 0.0
      position: relative
      z-index: 3
