.track-upload-form.directive
  display: block
  
  .form-container
    +clearfix

  .form-container .action-group
    @extend %button-group

  .form-container .action-group a
    @extend %small-button

  .form-container .action-group .file
    @extend %file-button
    float: left

  .form-container .action-group .track-search
    +transition(all 500ms ease)
    float: left
    width: 0
    overflow: hidden
    height: auto

  .progress
    +clearfix
    position: relative

  .progress .upload-list
    +clearfix

  .progress .upload-list .uploading
    +clearfix
    margin: 0.5em 0 0 0

  .progress .upload-list .uploading .text
    +span-columns(9)
    line-height: 1.8em

  .progress .upload-list .uploading .text .blurb
    display: inline-block
    padding: 0px 5px
    margin: -1px 0 0 0
    background: darken(white, 10)
    border: 1px soli darken(white, 15)
    border-radius: 3px

  .progress .upload-list .uploading .loader
    +span-columns(3)
    height: 1.8em

  .form-container .action-group .track-search.open
    +calc("width", "100% - 50px")
