$font-bodoni: 'Bauer Bodoni W01 Roman'
$font-bodoni-italic: 'Bauer Bodoni W01 Italic'
$font-bodoni-bold: 'Bauer Bodoni W01 Bold_795736'
$font-bodoni-bold-italic: 'BauerBodoniW01-BoldItal_795739'
$font-bodoni-black: 'Bauer Bodoni W01 Black'
$font-bodoni-black-italic: 'BauerBodoniW01-BlackIta'
$font-bodoni-bold-cn: 'BauerBodoniW01-BoldCn'
$font-bodoni-black-cn: 'BauerBodoniW01-BlackCn'
$font-bodoni-sc: 'Bauer Bodoni W01SC Rm SC'

$font-griffo: 'GriffoClassico W00'
$font-griffo-sc: 'GriffoClassico W00 SC'
$font-griffo-italic: 'GriffoClassicoW00-Itali'
$font-griffo-bold: 'GriffoClassico W00 Bold'
$font-griffo-bold-italic: 'GriffoClassicoW00-BoldI'

$font-foundry-light: 'Foundry Sans W01 Lt'
$font-foundry-light-sc: 'Foundry Sans W01SC Lt'
$font-foundry-sc: 'Foundry Sans W01SC Nrml'
$font-foundry: 'Foundry Sans W01 Nrml'
$font-foundry-italic: 'Foundry Sans W01 Nrml It'
$font-foundry-sc-italic: 'Fndry Sans W01SC Nrml It'
$font-foundry-medium-sc: 'Foundry Sans W01SC Md'
$font-foundry-medium: 'Foundry Sans W01 Md'
$font-foundry-medium-italic: 'Foundry Sans W01 Md It'
$font-foundry-medium-sc-italic: 'Fndry Sans W01SC Md It'
$font-foundry-demi: 'Foundry Sans W01 Demi'
$font-foundry-demi-sc: 'Foundry Sans W01SC Demi'
$font-foundry-demi-sc-italic: 'Foundry Sans W01SC Demi It'
$font-foundry-demi-italic: 'Foundry Sans W01 Demi It'
$font-foundry-bold-sc: 'Foundry Sans W01SC Bd'
$font-foundry-bold: 'Foundry Sans W01 Bd'

$sans-serif: $font-foundry
$serif: $font-griffo



