$sans-serif: sans-serif
$serif: serif

$canberra-medium: 'Canberra FY W01 Medium'
$canberra-light: 'Canberra FY W01 Light'
$canberra-book: 'Canberra FY W01 Book'
$canberra-bold: 'Canberra FY W01 Bold'
$cooper-medium: 'Cooper BT W01 Medium'
$cooper-light: 'Cooper BT W01 Light'
$mixtape-regular: 'Mixtape Mike W00 Reg'
$snicker-bold: 'Snicker W01 Bold'

$bodoni-roman: 'BauerBodoniBTW01-Roman'
$bodoni-italic: 'BauerBodoniBTW01-Italic'
$bodoni-bold: 'BauerBodoniBTW01-Bold'
$bodoni-bold-italic: 'BauerBodoniBTW01-BoldIt'
$bodoni-black: 'BauerBodoniBTW01-Black'
$bodoni-black-italic: 'BauerBodoniBTW01-BlackI'

$griffin: 'GriffoClassico W00'
$griffin-italic: 'GriffoClassicoW00-Itali'
$griffin-bold: 'GriffoClassico W00 Bold'
$griffin-bold-italic: 'GriffoClassicoW00-BoldI'

$officina: 'OfficinaSansITCW01-Book_734509'

$aptifer-regular: 'Aptifer Sans LT W01'
$aptifer-light: 'AptiferSansLTW01-Thin'

$gill-light: 'Gill Sans W01 Light'
$gill-book: 'Gill Sans W01 Book'
$gill-medium: 'Gill Sans W01 Medium'
