input[type="text"],
input[type="email"],
input[type="password"]
  padding: 5px 8px
  height: 28px
  font-family: $canberra-light
  font-size: 12px
  border: none
  outline: none
  line-height: 1em
  border-radius: 2px

input[type="file"]
  display: block
  width: 100px
  height: 100px

.btn-grp
  +clearfix
  position: relative

  a.button, button
    position: relative
    float: left
    border-radius: 0 0
    margin: 0
    z-index: 1
    border:
      top: 1px solid darken($base-accent-color, 10)
      bottom: 1px solid darken($base-accent-color, 10)
      right: none
      left: none

    &:hover, &.active
      z-index: 2

    &:last-child
      border:
        right: 1px solid darken($base-accent-color, 10)
      border-top-right-radius: 3px
      border-bottom-right-radius: 3px

    &:first-child
      border:
        left: 1px solid darken($base-accent-color, 10)
      border-top-left-radius: 3px
      border-bottom-left-radius: 3px

.file
  cursor: pointer

  input[type="file"]
    cursor: pointer
  
  &:hover button
    cursor: pointer
    box-shadow: 0px 0px 4px 0px darken($base-accent-color, 10)

a.button, button
  +transition(all 200px ease)
  +linear-gradient($base-accent-color, darken($base-accent-color, 10))
  border: 1px solid lighten($base-accent-color, 1)
  text-transform: uppercase
  border-radius: 2px
  box-sizing: content-box
  cursor: pointer
  display: block
  padding: 5px
  color: white
  outline: none

  &.transparent, &.transparent:hover, &.transparent.active
    background: transparent
    border: none
    box-shadow: none

    &.ionicon:after
      color: black

  &:hover, 
  &.active
    box-shadow: 0px 0px 4px 0px darken($base-accent-color, 10)

  &.gray
    border: 1px solid lighten(desaturate($base-accent-color, 100), 1)
    +linear-gradient(desaturate($base-accent-color, 100), darken(desaturate($base-accent-color, 100), 2))

    &:hover, 
    &.active
      +linear-gradient(desaturate($base-accent-color, 100), darken(desaturate($base-accent-color, 100), 1))
      box-shadow: 0px 0px 4px 0px desaturate(darken($base-accent-color, 10), 100)
