.ionicon
  display: inline-block
  position: relative
  width: 20px
  height: 20px
  margin: 0 auto

  &:after, &:before
    content: ''
    display: block
    speak: none
    text-align: center
    font-family: "Ionicons"
    font-size: 20px
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    text-rendering: auto
    line-height: 1

  &.logout:after
    content: "\f29f"

  &.star:after
    content: "\f24e"

  &.login:after
    content: "\f29e"

  &.loading:after
    content: "\f29d"

  &.close:after
    content: "\f12a"

  &.account:after
    content: "\f13d"

  &.dashboard:after
    content: "\f144"

  &.help:after
    content: "\f27c"

  &.send:after
    content: "\f2c3"

  &.cancel:after
    content: "\f12a"

  &.mixer:after
    content: "\f2ed"

  &.back:after
    content: "\f106"

  &.folder:after
    content: "\f139"

  &.search:after
    content: "\f21f"

  &.share:after
    content: "\f211"

  &.loop:after
    content: "\f201"

  &.trash:after
    content: "\f253"

  &.stop:after
    content: "\f24f"

  &.play:after
    content: "\f215"

  &.check:after
    content: "\f122"

  &.more:after
    content: "\f20b"

  &.add:after
    content: "\f218"

  &.cloud:after
    content: '\f12b'

  &.computer:after
    content: '\f20a'

  &.stalker:after
    content: '\f212'

  &.radio-waves:after
    content: '\f2ac'

  &.gear-b:after
    content: '\f13e'

  &.exclamation:after
    content: '\f101'

  &.play-computer:after
    z-index: 2
    content: '\f215'
    font-size: 10px
    line-height: 10px
    display: block
    color: darken(white, 20)
    position: absolute
    top: 50%
    left: 50%
    width: 10px
    margin: -5px 0 0 -5px
    height: 10px

  &.play-computer:before
    content: '\f20a'
    position: relative
    z-index: 3

  &.question:after
    content: '\f143'
