body
  font-family: $gill-book

.serif
  font-family: $serif

.sans
  font-family: $sans-serif

.griffin
  font-family: $griffin

.aptifer
  font-family: $aptifer-regular

  &.thin
    font-family: $aptifer-light

.gill
  font-family: $gill-book

  &.light
    font-family: $gill-light

  &.medium
    font-family: $gill-medium

.officina
  font-family: $officina

.snicker
  font-family: $snicker-bold

.bodoni
  font-family: $bodoni-roman

  &.italic
    font-family: $bodoni-italic

  &.bold
    font-family: $bodoni-bold

    &.italic
      font-family: $bodoni-bold-italic

  &.black
    font-family: $bodoni-black

    &.italic
      font-family: $bodoni-black-italic

.canberra
  font-family: $canberra-book

  &.medium
    font-family: $canberra-medium

  &.bold
    font-family: $canberra-bold

  &.light
    font-family: $canberra-light

.fs-large
  font-size: 32px

.fs-medium
  font-size: 24px

.fs-regular
  font-size: 14px

.upper
  text-transform: uppercase

a
  text-decoration: none
  color: $link-color

.para
  margin: 0 0 10px 0

code
  display: inline-block
  font-family: "Inconsolata"
  border-radius: 3px
  padding: 10px
  margin: 10px 0
  background: #fafafa
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25)
  line-height: 1.5em
  clear: both
  width: 100%
  overflow-x: auto
  text-indent: 0px

code.inline
  padding: 2px 4px
  font-size: 11px
  margin: 0
  clear: none
  width: auto
  position: relative
  top: 4px
