
DirectoryIndex index.html

<IfModule mod_rewrite.c>
  Options +FollowSymLinks -MultiViews
  # Turn mod_rewrite on
  RewriteEngine On
  RewriteBase /
  RewriteRule ^bp/(.*)$ http://blog.loftili.com/json/$1 [P,L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  RewriteRule ^(.*)$ index.html?$1 [L,QSA]
</IfModule>
