.home.about.partial

  .bullets

    .bullet.three-col-bullet
      .bullet-icon.bullet-icon-1
      .bullet-content
        h2 Web
        p
          | Loftili provides our users with a web interface that they can log into to manage their lofti devices

    .bullet.three-col-bullet
      .bullet-icon.bullet-icon-2
      .bullet-content
        h2 Core
        p
          | This is where I will talk about the devices and the web server that runs on them, giving the web platform it's
          | routes to interact with.

    .bullet.three-col-bullet
      .bullet-icon.bullet-icon-3
      .bullet-content
        h2 Api
        p
          | The api is build using sail.js and hosted on heroku. Here we can talk about developers and stuff to interact with it. 

