.home.features.partial

  article.type-system-traditional

    h1 Home audio meets web app
    h2 
      | Connect your lofti devices into your home audio, and control what's playing
      | with our web application.
    p
      | In at consequat nisl. Pellentesque habitant morbi tristique 
      | senectus et netus et malesuada fames ac turpis egestas. Etiam 
      | egestas, arcu vitae suscipit facilisis, diam ante posuere felis, 
      | eu lobortis justo purus vitae nisi. Nam pharetra eros ac dapibus 
      | volutpat. Suspendisse non purus nec nulla tempus imperdiet. Nam 
      | pulvinar tellus ac quam rhoncus, sed mattis velit aliquam. 
      | Vestibulum augue neque, tempor eu dui a, cursus congue leo.
