
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=663f1b40-4e52-4ed2-9a85-0557dafd8bd0");
@font-face{
font-family:"AptiferSansLTW01-Thin";
src:url("/fonts/6b8824fc-ea4e-4839-91b9-e9da9844cae5.eot?#iefix");
src:url("/fonts/6b8824fc-ea4e-4839-91b9-e9da9844cae5.eot?#iefix") format("eot"),url("/fonts/e3e61615-9b40-4548-9049-081d39e30313.woff") format("woff"),url("/fonts/0a305948-0ebc-4d7b-bbd5-1537b3fad2f2.ttf") format("truetype"),url("/fonts/c111b720-032c-4daa-88db-7cd267291e3b.svg#c111b720-032c-4daa-88db-7cd267291e3b") format("svg");
}
@font-face{
font-family:"Aptifer Sans LT W01";
src:url("/fonts/f73fa100-2563-456d-b07d-beeec983fd34.eot?#iefix");
src:url("/fonts/f73fa100-2563-456d-b07d-beeec983fd34.eot?#iefix") format("eot"),url("/fonts/cff6dcf2-cacf-4b6f-84d4-4e429215e7b0.woff") format("woff"),url("/fonts/11979789-b286-4037-bda4-cf3cfeb20f0f.ttf") format("truetype"),url("/fonts/1bc0a47f-47c9-472f-a8b8-87c3fdfcf846.svg#1bc0a47f-47c9-472f-a8b8-87c3fdfcf846") format("svg");
}
@font-face{
font-family:"BauerBodoniBTW01-Roman";
src:url("/fonts/3f64153b-c17a-43d6-9697-d88a530125d7.eot?#iefix");
src:url("/fonts/3f64153b-c17a-43d6-9697-d88a530125d7.eot?#iefix") format("eot"),url("/fonts/bcb1dabd-1029-4e47-b024-6cf689e0fdca.woff") format("woff"),url("/fonts/5e5b7240-791a-43a3-baf9-e5059fad9151.ttf") format("truetype"),url("/fonts/feafbc92-0b8b-4fb3-ba50-6ea34f19b0e4.svg#feafbc92-0b8b-4fb3-ba50-6ea34f19b0e4") format("svg");
}
@font-face{
font-family:"BauerBodoniBTW01-Italic";
src:url("/fonts/bde947e9-7e24-4fdc-acb7-c86bbf0b3593.eot?#iefix");
src:url("/fonts/bde947e9-7e24-4fdc-acb7-c86bbf0b3593.eot?#iefix") format("eot"),url("/fonts/f3ad0a8d-6eb7-4e9c-bcb5-748e3e7262c9.woff") format("woff"),url("/fonts/e74b18b5-7f84-49e6-83bc-9d79f1654891.ttf") format("truetype"),url("/fonts/2de292f2-c0bc-4c75-8d4c-cc08e35d0e48.svg#2de292f2-c0bc-4c75-8d4c-cc08e35d0e48") format("svg");
}
@font-face{
font-family:"BauerBodoniBTW01-Bold";
src:url("/fonts/88e27385-5dfd-4259-8b86-f05528a1a42f.eot?#iefix");
src:url("/fonts/88e27385-5dfd-4259-8b86-f05528a1a42f.eot?#iefix") format("eot"),url("/fonts/4ff9721c-50f0-4685-9ce3-b2cff4a74aa2.woff") format("woff"),url("/fonts/bf1e1273-98e7-4f55-b126-1f331fa61b7e.ttf") format("truetype"),url("/fonts/c1c9f20a-dae7-414d-a819-7f6c34dac12f.svg#c1c9f20a-dae7-414d-a819-7f6c34dac12f") format("svg");
}
@font-face{
font-family:"BauerBodoniBTW01-BoldIt";
src:url("/fonts/0b84c1ea-f8f8-4e83-bdc2-ad091f31940f.eot?#iefix");
src:url("/fonts/0b84c1ea-f8f8-4e83-bdc2-ad091f31940f.eot?#iefix") format("eot"),url("/fonts/b44c1217-3a78-45e2-8faf-6c8bc77dff2d.woff") format("woff"),url("/fonts/5fcb3ad9-a3de-43be-8ad6-de2263ab72c1.ttf") format("truetype"),url("/fonts/9c6881e1-b65d-4f1e-bceb-3f7dac34f475.svg#9c6881e1-b65d-4f1e-bceb-3f7dac34f475") format("svg");
}
@font-face{
font-family:"BauerBodoniBTW01-Black";
src:url("/fonts/62dcaae9-fdfa-4809-9739-191d9f28ebfa.eot?#iefix");
src:url("/fonts/62dcaae9-fdfa-4809-9739-191d9f28ebfa.eot?#iefix") format("eot"),url("/fonts/03b257f2-f55d-41d1-9863-bd22b1798946.woff") format("woff"),url("/fonts/7566a519-d61f-4ef4-844b-26fa564fb83d.ttf") format("truetype"),url("/fonts/d9d6d39c-aa95-4305-a94f-aa5a1c9c1290.svg#d9d6d39c-aa95-4305-a94f-aa5a1c9c1290") format("svg");
}
@font-face{
font-family:"BauerBodoniBTW01-BlackI";
src:url("/fonts/0656f5f9-0f65-4085-b1b8-163f7421ded2.eot?#iefix");
src:url("/fonts/0656f5f9-0f65-4085-b1b8-163f7421ded2.eot?#iefix") format("eot"),url("/fonts/cff3d6bd-eb88-430a-92bb-c9b8b1bdb207.woff") format("woff"),url("/fonts/6871dd88-9320-458e-9284-c355819da731.ttf") format("truetype"),url("/fonts/515afff9-2959-40ef-86b6-c0b0d3f9a8e8.svg#515afff9-2959-40ef-86b6-c0b0d3f9a8e8") format("svg");
}
@font-face{
font-family:"BauerBodoniBTW01-BoldCd";
src:url("/fonts/5099fe2d-42ca-4760-a241-460a3ce915c6.eot?#iefix");
src:url("/fonts/5099fe2d-42ca-4760-a241-460a3ce915c6.eot?#iefix") format("eot"),url("/fonts/7fe61073-ef35-4ab8-b7ee-b0427120c95f.woff") format("woff"),url("/fonts/059599ec-e850-4220-8031-b588e8d48c95.ttf") format("truetype"),url("/fonts/0bc1175f-8bb5-4e65-af65-cc7dc2068853.svg#0bc1175f-8bb5-4e65-af65-cc7dc2068853") format("svg");
}
@font-face{
font-family:"BauerBodoniBTW01-BlackC";
src:url("/fonts/f8309791-382e-4fc6-8657-51d3363d3a3f.eot?#iefix");
src:url("/fonts/f8309791-382e-4fc6-8657-51d3363d3a3f.eot?#iefix") format("eot"),url("/fonts/2b0e88ae-248d-4b5f-9497-c903cf9a5f30.woff") format("woff"),url("/fonts/0d8eaeea-c6f0-48a5-bc30-1827eb1ddf0d.ttf") format("truetype"),url("/fonts/c36ae72b-2056-46f6-a677-f7cfead43bf7.svg#c36ae72b-2056-46f6-a677-f7cfead43bf7") format("svg");
}
@font-face{
font-family:"BauerBodoniBTW01-Titlin1118840";
src:url("/fonts/e508ec06-e738-447e-9f49-e6c0a55ca2e3.eot?#iefix");
src:url("/fonts/e508ec06-e738-447e-9f49-e6c0a55ca2e3.eot?#iefix") format("eot"),url("/fonts/ec327d9c-f62b-4d12-9987-8df589050e73.woff") format("woff"),url("/fonts/bc6f91e3-7b14-4d04-8ece-5a28c21e1df8.ttf") format("truetype"),url("/fonts/23bee4ad-ede7-4c63-934f-55ac87810c21.svg#23bee4ad-ede7-4c63-934f-55ac87810c21") format("svg");
}
@font-face{
font-family:"BauerBodoniBTW01-Titlin1118843";
src:url("/fonts/d80687ff-6c3f-46cd-aba8-08e68fe2e101.eot?#iefix");
src:url("/fonts/d80687ff-6c3f-46cd-aba8-08e68fe2e101.eot?#iefix") format("eot"),url("/fonts/c2e3f769-3985-4475-a71d-0ef842f4233c.woff") format("woff"),url("/fonts/99813322-383c-4fae-a013-1d7c78d59718.ttf") format("truetype"),url("/fonts/32b781fb-7769-4830-be0d-3123941f7a2f.svg#32b781fb-7769-4830-be0d-3123941f7a2f") format("svg");
}
@font-face{
font-family:"Canberra FY W01 Light";
src:url("/fonts/b3030e18-7ef9-4589-aabc-fedff70cbf73.eot?#iefix");
src:url("/fonts/b3030e18-7ef9-4589-aabc-fedff70cbf73.eot?#iefix") format("eot"),url("/fonts/083994b3-c381-49bb-a2cf-ff72d8b47ab6.woff") format("woff"),url("/fonts/e5094f6a-fbac-45e7-bb62-e49c66c40f95.ttf") format("truetype"),url("/fonts/eeffdb66-f738-4826-968a-5306976a3dee.svg#eeffdb66-f738-4826-968a-5306976a3dee") format("svg");
}
@font-face{
font-family:"Canberra FY W01 Book";
src:url("/fonts/6eb2fc99-ae8d-4b20-a83b-e0e40f2120d5.eot?#iefix");
src:url("/fonts/6eb2fc99-ae8d-4b20-a83b-e0e40f2120d5.eot?#iefix") format("eot"),url("/fonts/e637a75d-c92a-4306-a31e-d5cd8b137543.woff") format("woff"),url("/fonts/d43e115b-2485-4583-9930-63f16a1b5641.ttf") format("truetype"),url("/fonts/6d7c09cd-77ac-4816-9046-4340c6655622.svg#6d7c09cd-77ac-4816-9046-4340c6655622") format("svg");
}
@font-face{
font-family:"Canberra FY W01 Medium";
src:url("/fonts/3a1a0366-6e53-4b7e-8d16-d6806d377f52.eot?#iefix");
src:url("/fonts/3a1a0366-6e53-4b7e-8d16-d6806d377f52.eot?#iefix") format("eot"),url("/fonts/78db6f67-f8ff-4b02-b0f7-2053a3ec5d73.woff") format("woff"),url("/fonts/b46dfa3f-7379-4fc7-91b9-b607f1700ce5.ttf") format("truetype"),url("/fonts/791a006c-df5b-48ad-bac2-3a5a28f74079.svg#791a006c-df5b-48ad-bac2-3a5a28f74079") format("svg");
}
@font-face{
font-family:"Canberra FY W01 Bold";
src:url("/fonts/116a8fce-93e3-4881-a37e-6c67da970914.eot?#iefix");
src:url("/fonts/116a8fce-93e3-4881-a37e-6c67da970914.eot?#iefix") format("eot"),url("/fonts/219053eb-129e-4ee4-8f80-07f1300e80ac.woff") format("woff"),url("/fonts/2a0b5f6d-a04e-488c-82a2-1b1186cf49fb.ttf") format("truetype"),url("/fonts/e633eb1a-5b2e-4d8d-965b-b5f621ea4ee9.svg#e633eb1a-5b2e-4d8d-965b-b5f621ea4ee9") format("svg");
}
@font-face{
font-family:"Gill Sans W01 Light";
src:url("/fonts/acd8a043-828c-4c2c-98cb-b5224f5d4cdb.eot?#iefix");
src:url("/fonts/acd8a043-828c-4c2c-98cb-b5224f5d4cdb.eot?#iefix") format("eot"),url("/fonts/c56da29d-9c5b-4d94-900f-770cde3dd317.woff") format("woff"),url("/fonts/378182d1-8021-4674-a814-cc8f01f9a937.ttf") format("truetype"),url("/fonts/d8851d95-478d-47a9-a0b0-a8d8e4ca127a.svg#d8851d95-478d-47a9-a0b0-a8d8e4ca127a") format("svg");
}
@font-face{
font-family:"Gill Sans W01 Book";
src:url("/fonts/2cebe80c-b289-4ae0-a3b0-baa82c6c6e10.eot?#iefix");
src:url("/fonts/2cebe80c-b289-4ae0-a3b0-baa82c6c6e10.eot?#iefix") format("eot"),url("/fonts/2bc69477-90c2-4415-a51f-36e36eee3d5e.woff") format("woff"),url("/fonts/33447d8d-d920-48e7-b0a9-1d3dda80d6a6.ttf") format("truetype"),url("/fonts/e49c440c-7653-44ce-96d2-f775947ba9fe.svg#e49c440c-7653-44ce-96d2-f775947ba9fe") format("svg");
}
@font-face{
font-family:"Gill Sans W01 Medium";
src:url("/fonts/beab4258-af94-4971-a0db-b7bc2bef74bc.eot?#iefix");
src:url("/fonts/beab4258-af94-4971-a0db-b7bc2bef74bc.eot?#iefix") format("eot"),url("/fonts/cd5a93fc-2bb1-48df-8982-11119cd6e270.woff") format("woff"),url("/fonts/b6bdc93b-2720-4c92-b68d-48499456178e.ttf") format("truetype"),url("/fonts/944cce8d-20bf-41c1-ae29-2bc8199859db.svg#944cce8d-20bf-41c1-ae29-2bc8199859db") format("svg");
}
@font-face{
font-family:"GriffoClassico W00";
src:url("/fonts/e2cbd3e6-393a-4d56-9005-7f748a1af74e.eot?#iefix");
src:url("/fonts/e2cbd3e6-393a-4d56-9005-7f748a1af74e.eot?#iefix") format("eot"),url("/fonts/cafe00cf-9052-474a-80f8-6c997d340061.woff") format("woff"),url("/fonts/102b0bdc-0d5f-40b9-991b-50c2b83ba88a.ttf") format("truetype"),url("/fonts/8b13928a-0013-42bc-b96b-e8865d5b6227.svg#8b13928a-0013-42bc-b96b-e8865d5b6227") format("svg");
}
@font-face{
font-family:"OfficinaSansITCW01-Book_734509";
src:url("/fonts/e4f88d1f-2f5e-49a0-9361-9fcdc5bfc795.eot?#iefix");
src:url("/fonts/e4f88d1f-2f5e-49a0-9361-9fcdc5bfc795.eot?#iefix") format("eot"),url("/fonts/60567f88-1ef5-4f2c-9951-3ce3845f9967.woff") format("woff"),url("/fonts/ec8c3086-5408-4f25-97d0-f1f4c7014668.ttf") format("truetype"),url("/fonts/d29fed54-ae01-49ef-94e2-3e3fb9df3f70.svg#d29fed54-ae01-49ef-94e2-3e3fb9df3f70") format("svg");
}
@font-face{
font-family:"Snicker W01 Bold";
src:url("/fonts/b7e646f3-042d-4d23-bc61-e862beccb596.eot?#iefix");
src:url("/fonts/b7e646f3-042d-4d23-bc61-e862beccb596.eot?#iefix") format("eot"),url("/fonts/2c9de04f-8a70-4c8f-b8c8-db43ce51abca.woff") format("woff"),url("/fonts/8f9688f9-c026-4c4f-85ef-21ea13a7444c.ttf") format("truetype"),url("/fonts/1f47c672-f7f1-4632-9c0a-7b1783be1cf5.svg#1f47c672-f7f1-4632-9c0a-7b1783be1cf5") format("svg");
}
