/* %s/url("fonts/url("\/static\/fonts/gi  */

@font-face{
font-family:"AptiferSansLTW01-Thin";
src:url("/static/fonts/6b8824fc-ea4e-4839-91b9-e9da9844cae5.eot?#iefix");
src:url("/static/fonts/6b8824fc-ea4e-4839-91b9-e9da9844cae5.eot?#iefix") format("eot"),url("/static/fonts/aa228fdc-6b33-4919-901f-2444c7c1774b.woff2") format("woff2"),url("/static/fonts/e3e61615-9b40-4548-9049-081d39e30313.woff") format("woff"),url("/static/fonts/0a305948-0ebc-4d7b-bbd5-1537b3fad2f2.ttf") format("truetype"),url("/static/fonts/c111b720-032c-4daa-88db-7cd267291e3b.svg#c111b720-032c-4daa-88db-7cd267291e3b") format("svg");
}
@font-face{
font-family:"Aptifer Sans LT W01";
src:url("/static/fonts/f73fa100-2563-456d-b07d-beeec983fd34.eot?#iefix");
src:url("/static/fonts/f73fa100-2563-456d-b07d-beeec983fd34.eot?#iefix") format("eot"),url("/static/fonts/64fff04b-08cf-4370-a9de-3ffd6f823fd9.woff2") format("woff2"),url("/static/fonts/cff6dcf2-cacf-4b6f-84d4-4e429215e7b0.woff") format("woff"),url("/static/fonts/11979789-b286-4037-bda4-cf3cfeb20f0f.ttf") format("truetype"),url("/static/fonts/1bc0a47f-47c9-472f-a8b8-87c3fdfcf846.svg#1bc0a47f-47c9-472f-a8b8-87c3fdfcf846") format("svg");
}
@font-face{
font-family:"BauerBodoniBTW01-Roman";
src:url("/static/fonts/3f64153b-c17a-43d6-9697-d88a530125d7.eot?#iefix");
src:url("/static/fonts/3f64153b-c17a-43d6-9697-d88a530125d7.eot?#iefix") format("eot"),url("/static/fonts/23726f4f-359c-4994-955d-b2aa791d2e73.woff2") format("woff2"),url("/static/fonts/bcb1dabd-1029-4e47-b024-6cf689e0fdca.woff") format("woff"),url("/static/fonts/5e5b7240-791a-43a3-baf9-e5059fad9151.ttf") format("truetype"),url("/static/fonts/feafbc92-0b8b-4fb3-ba50-6ea34f19b0e4.svg#feafbc92-0b8b-4fb3-ba50-6ea34f19b0e4") format("svg");
}
@font-face{
font-family:"BauerBodoniBTW01-Italic";
src:url("/static/fonts/bde947e9-7e24-4fdc-acb7-c86bbf0b3593.eot?#iefix");
src:url("/static/fonts/bde947e9-7e24-4fdc-acb7-c86bbf0b3593.eot?#iefix") format("eot"),url("/static/fonts/cc955c72-fd33-44f7-a260-0559494a3fe1.woff2") format("woff2"),url("/static/fonts/f3ad0a8d-6eb7-4e9c-bcb5-748e3e7262c9.woff") format("woff"),url("/static/fonts/e74b18b5-7f84-49e6-83bc-9d79f1654891.ttf") format("truetype"),url("/static/fonts/2de292f2-c0bc-4c75-8d4c-cc08e35d0e48.svg#2de292f2-c0bc-4c75-8d4c-cc08e35d0e48") format("svg");
}
@font-face{
font-family:"BauerBodoniBTW01-Bold";
src:url("/static/fonts/88e27385-5dfd-4259-8b86-f05528a1a42f.eot?#iefix");
src:url("/static/fonts/88e27385-5dfd-4259-8b86-f05528a1a42f.eot?#iefix") format("eot"),url("/static/fonts/a6fa94f9-751b-49f0-a757-b9be0ed53b09.woff2") format("woff2"),url("/static/fonts/4ff9721c-50f0-4685-9ce3-b2cff4a74aa2.woff") format("woff"),url("/static/fonts/bf1e1273-98e7-4f55-b126-1f331fa61b7e.ttf") format("truetype"),url("/static/fonts/c1c9f20a-dae7-414d-a819-7f6c34dac12f.svg#c1c9f20a-dae7-414d-a819-7f6c34dac12f") format("svg");
}
@font-face{
font-family:"BauerBodoniBTW01-BoldIt";
src:url("/static/fonts/0b84c1ea-f8f8-4e83-bdc2-ad091f31940f.eot?#iefix");
src:url("/static/fonts/0b84c1ea-f8f8-4e83-bdc2-ad091f31940f.eot?#iefix") format("eot"),url("/static/fonts/ab8e2266-1283-40a2-9b06-b06d42e02774.woff2") format("woff2"),url("/static/fonts/b44c1217-3a78-45e2-8faf-6c8bc77dff2d.woff") format("woff"),url("/static/fonts/5fcb3ad9-a3de-43be-8ad6-de2263ab72c1.ttf") format("truetype"),url("/static/fonts/9c6881e1-b65d-4f1e-bceb-3f7dac34f475.svg#9c6881e1-b65d-4f1e-bceb-3f7dac34f475") format("svg");
}
@font-face{
font-family:"BauerBodoniBTW01-Black";
src:url("/static/fonts/62dcaae9-fdfa-4809-9739-191d9f28ebfa.eot?#iefix");
src:url("/static/fonts/62dcaae9-fdfa-4809-9739-191d9f28ebfa.eot?#iefix") format("eot"),url("/static/fonts/0bda266c-3a6f-4622-bfe1-26444eb21fe6.woff2") format("woff2"),url("/static/fonts/03b257f2-f55d-41d1-9863-bd22b1798946.woff") format("woff"),url("/static/fonts/7566a519-d61f-4ef4-844b-26fa564fb83d.ttf") format("truetype"),url("/static/fonts/d9d6d39c-aa95-4305-a94f-aa5a1c9c1290.svg#d9d6d39c-aa95-4305-a94f-aa5a1c9c1290") format("svg");
}
@font-face{
font-family:"BauerBodoniBTW01-BlackI";
src:url("/static/fonts/0656f5f9-0f65-4085-b1b8-163f7421ded2.eot?#iefix");
src:url("/static/fonts/0656f5f9-0f65-4085-b1b8-163f7421ded2.eot?#iefix") format("eot"),url("/static/fonts/95664587-40e9-4b5c-bba7-1fe37055324c.woff2") format("woff2"),url("/static/fonts/cff3d6bd-eb88-430a-92bb-c9b8b1bdb207.woff") format("woff"),url("/static/fonts/6871dd88-9320-458e-9284-c355819da731.ttf") format("truetype"),url("/static/fonts/515afff9-2959-40ef-86b6-c0b0d3f9a8e8.svg#515afff9-2959-40ef-86b6-c0b0d3f9a8e8") format("svg");
}
@font-face{
font-family:"BauerBodoniBTW01-BoldCd";
src:url("/static/fonts/5099fe2d-42ca-4760-a241-460a3ce915c6.eot?#iefix");
src:url("/static/fonts/5099fe2d-42ca-4760-a241-460a3ce915c6.eot?#iefix") format("eot"),url("/static/fonts/8cb2b187-f162-4c2a-b521-9f8083dd6c7f.woff2") format("woff2"),url("/static/fonts/7fe61073-ef35-4ab8-b7ee-b0427120c95f.woff") format("woff"),url("/static/fonts/059599ec-e850-4220-8031-b588e8d48c95.ttf") format("truetype"),url("/static/fonts/0bc1175f-8bb5-4e65-af65-cc7dc2068853.svg#0bc1175f-8bb5-4e65-af65-cc7dc2068853") format("svg");
}
@font-face{
font-family:"BauerBodoniBTW01-BlackC";
src:url("/static/fonts/f8309791-382e-4fc6-8657-51d3363d3a3f.eot?#iefix");
src:url("/static/fonts/f8309791-382e-4fc6-8657-51d3363d3a3f.eot?#iefix") format("eot"),url("/static/fonts/415a990a-42ea-494d-9629-1060e5599277.woff2") format("woff2"),url("/static/fonts/2b0e88ae-248d-4b5f-9497-c903cf9a5f30.woff") format("woff"),url("/static/fonts/0d8eaeea-c6f0-48a5-bc30-1827eb1ddf0d.ttf") format("truetype"),url("/static/fonts/c36ae72b-2056-46f6-a677-f7cfead43bf7.svg#c36ae72b-2056-46f6-a677-f7cfead43bf7") format("svg");
}
@font-face{
font-family:"BauerBodoniBTW01-Titlin1118840";
src:url("/static/fonts/e508ec06-e738-447e-9f49-e6c0a55ca2e3.eot?#iefix");
src:url("/static/fonts/e508ec06-e738-447e-9f49-e6c0a55ca2e3.eot?#iefix") format("eot"),url("/static/fonts/21d62593-6764-4cce-bda2-7c3de75f40a1.woff2") format("woff2"),url("/static/fonts/ec327d9c-f62b-4d12-9987-8df589050e73.woff") format("woff"),url("/static/fonts/bc6f91e3-7b14-4d04-8ece-5a28c21e1df8.ttf") format("truetype"),url("/static/fonts/23bee4ad-ede7-4c63-934f-55ac87810c21.svg#23bee4ad-ede7-4c63-934f-55ac87810c21") format("svg");
}
@font-face{
font-family:"BauerBodoniBTW01-Titlin1118843";
src:url("/static/fonts/d80687ff-6c3f-46cd-aba8-08e68fe2e101.eot?#iefix");
src:url("/static/fonts/d80687ff-6c3f-46cd-aba8-08e68fe2e101.eot?#iefix") format("eot"),url("/static/fonts/7e6279f3-8fdd-4d9f-8b24-307f7815283b.woff2") format("woff2"),url("/static/fonts/c2e3f769-3985-4475-a71d-0ef842f4233c.woff") format("woff"),url("/static/fonts/99813322-383c-4fae-a013-1d7c78d59718.ttf") format("truetype"),url("/static/fonts/32b781fb-7769-4830-be0d-3123941f7a2f.svg#32b781fb-7769-4830-be0d-3123941f7a2f") format("svg");
}
@font-face{
font-family:"Canberra FY W01 Light";
src:url("/static/fonts/b3030e18-7ef9-4589-aabc-fedff70cbf73.eot?#iefix");
src:url("/static/fonts/b3030e18-7ef9-4589-aabc-fedff70cbf73.eot?#iefix") format("eot"),url("/static/fonts/1c662597-6e64-4ecd-a9ae-e1889ebbb4a2.woff2") format("woff2"),url("/static/fonts/083994b3-c381-49bb-a2cf-ff72d8b47ab6.woff") format("woff"),url("/static/fonts/e5094f6a-fbac-45e7-bb62-e49c66c40f95.ttf") format("truetype"),url("/static/fonts/eeffdb66-f738-4826-968a-5306976a3dee.svg#eeffdb66-f738-4826-968a-5306976a3dee") format("svg");
}
@font-face{
font-family:"Canberra FY W01 Book";
src:url("/static/fonts/6eb2fc99-ae8d-4b20-a83b-e0e40f2120d5.eot?#iefix");
src:url("/static/fonts/6eb2fc99-ae8d-4b20-a83b-e0e40f2120d5.eot?#iefix") format("eot"),url("/static/fonts/48f7f3c3-4c8c-4e91-9d37-0753fc8f45d7.woff2") format("woff2"),url("/static/fonts/e637a75d-c92a-4306-a31e-d5cd8b137543.woff") format("woff"),url("/static/fonts/d43e115b-2485-4583-9930-63f16a1b5641.ttf") format("truetype"),url("/static/fonts/6d7c09cd-77ac-4816-9046-4340c6655622.svg#6d7c09cd-77ac-4816-9046-4340c6655622") format("svg");
}
@font-face{
font-family:"Canberra FY W01 Medium";
src:url("/static/fonts/3a1a0366-6e53-4b7e-8d16-d6806d377f52.eot?#iefix");
src:url("/static/fonts/3a1a0366-6e53-4b7e-8d16-d6806d377f52.eot?#iefix") format("eot"),url("/static/fonts/2dc554bb-274b-4def-8253-86c53553d181.woff2") format("woff2"),url("/static/fonts/78db6f67-f8ff-4b02-b0f7-2053a3ec5d73.woff") format("woff"),url("/static/fonts/b46dfa3f-7379-4fc7-91b9-b607f1700ce5.ttf") format("truetype"),url("/static/fonts/791a006c-df5b-48ad-bac2-3a5a28f74079.svg#791a006c-df5b-48ad-bac2-3a5a28f74079") format("svg");
}
@font-face{
font-family:"Canberra FY W01 Bold";
src:url("/static/fonts/116a8fce-93e3-4881-a37e-6c67da970914.eot?#iefix");
src:url("/static/fonts/116a8fce-93e3-4881-a37e-6c67da970914.eot?#iefix") format("eot"),url("/static/fonts/c9accf73-5175-44cf-887f-8067c6dd4b5d.woff2") format("woff2"),url("/static/fonts/219053eb-129e-4ee4-8f80-07f1300e80ac.woff") format("woff"),url("/static/fonts/2a0b5f6d-a04e-488c-82a2-1b1186cf49fb.ttf") format("truetype"),url("/static/fonts/e633eb1a-5b2e-4d8d-965b-b5f621ea4ee9.svg#e633eb1a-5b2e-4d8d-965b-b5f621ea4ee9") format("svg");
}
@font-face{
font-family:"Gill Sans W01 Light";
src:url("/static/fonts/acd8a043-828c-4c2c-98cb-b5224f5d4cdb.eot?#iefix");
src:url("/static/fonts/acd8a043-828c-4c2c-98cb-b5224f5d4cdb.eot?#iefix") format("eot"),url("/static/fonts/a2926047-aec5-42f4-b352-e593469518be.woff2") format("woff2"),url("/static/fonts/c56da29d-9c5b-4d94-900f-770cde3dd317.woff") format("woff"),url("/static/fonts/378182d1-8021-4674-a814-cc8f01f9a937.ttf") format("truetype"),url("/static/fonts/d8851d95-478d-47a9-a0b0-a8d8e4ca127a.svg#d8851d95-478d-47a9-a0b0-a8d8e4ca127a") format("svg");
}
@font-face{
font-family:"GillSansW01-LightItalic";
src:url("/static/fonts/fa48655b-c368-4796-9713-283410e3cd96.eot?#iefix");
src:url("/static/fonts/fa48655b-c368-4796-9713-283410e3cd96.eot?#iefix") format("eot"),url("/static/fonts/de4e6ee5-4bb3-4aa3-b76b-8400446faf5e.woff2") format("woff2"),url("/static/fonts/fc0d04fc-d4ff-4958-a236-3ae4c3758bb7.woff") format("woff"),url("/static/fonts/c28733d9-2865-43c4-ae96-6f3342a7b31d.ttf") format("truetype"),url("/static/fonts/ce43af51-f2ff-4474-9925-6211223fd9e7.svg#ce43af51-f2ff-4474-9925-6211223fd9e7") format("svg");
}
@font-face{
font-family:"Gill Sans W01 Book";
src:url("/static/fonts/2cebe80c-b289-4ae0-a3b0-baa82c6c6e10.eot?#iefix");
src:url("/static/fonts/2cebe80c-b289-4ae0-a3b0-baa82c6c6e10.eot?#iefix") format("eot"),url("/static/fonts/51318b0e-57fc-4136-b7d1-46aee6c2b565.woff2") format("woff2"),url("/static/fonts/2bc69477-90c2-4415-a51f-36e36eee3d5e.woff") format("woff"),url("/static/fonts/33447d8d-d920-48e7-b0a9-1d3dda80d6a6.ttf") format("truetype"),url("/static/fonts/e49c440c-7653-44ce-96d2-f775947ba9fe.svg#e49c440c-7653-44ce-96d2-f775947ba9fe") format("svg");
}
@font-face{
font-family:"Gill Sans W01 Medium";
src:url("/static/fonts/beab4258-af94-4971-a0db-b7bc2bef74bc.eot?#iefix");
src:url("/static/fonts/beab4258-af94-4971-a0db-b7bc2bef74bc.eot?#iefix") format("eot"),url("/static/fonts/d9f9decc-5fa8-4390-a105-4f89f6b7b055.woff2") format("woff2"),url("/static/fonts/cd5a93fc-2bb1-48df-8982-11119cd6e270.woff") format("woff"),url("/static/fonts/b6bdc93b-2720-4c92-b68d-48499456178e.ttf") format("truetype"),url("/static/fonts/944cce8d-20bf-41c1-ae29-2bc8199859db.svg#944cce8d-20bf-41c1-ae29-2bc8199859db") format("svg");
}
@font-face{
font-family:"GriffoClassico W00";
src:url("/static/fonts/e2cbd3e6-393a-4d56-9005-7f748a1af74e.eot?#iefix");
src:url("/static/fonts/e2cbd3e6-393a-4d56-9005-7f748a1af74e.eot?#iefix") format("eot"),url("/static/fonts/cdd7e6d3-35ae-471d-8a70-d00fe819846c.woff2") format("woff2"),url("/static/fonts/cafe00cf-9052-474a-80f8-6c997d340061.woff") format("woff"),url("/static/fonts/102b0bdc-0d5f-40b9-991b-50c2b83ba88a.ttf") format("truetype"),url("/static/fonts/8b13928a-0013-42bc-b96b-e8865d5b6227.svg#8b13928a-0013-42bc-b96b-e8865d5b6227") format("svg");
}
@font-face{
font-family:"GriffoClassicoW00-Itali";
src:url("/static/fonts/6785d2ba-aa5d-4e5f-aad1-e6a3d6e8f5d7.eot?#iefix");
src:url("/static/fonts/6785d2ba-aa5d-4e5f-aad1-e6a3d6e8f5d7.eot?#iefix") format("eot"),url("/static/fonts/46e2514f-5ec3-412e-ba62-ef5f18ee496a.woff2") format("woff2"),url("/static/fonts/7f686d2f-e903-4220-a98f-4b990534a394.woff") format("woff"),url("/static/fonts/4747e10b-a36b-46d3-8972-7818069a72d2.ttf") format("truetype"),url("/static/fonts/c3b744e2-ae2b-4d01-97e5-37938bcd4b4d.svg#c3b744e2-ae2b-4d01-97e5-37938bcd4b4d") format("svg");
}
@font-face{
font-family:"GriffoClassico W00 Bold";
src:url("/static/fonts/eea6ff90-e874-4c9d-9ac8-2aa917c3b3a3.eot?#iefix");
src:url("/static/fonts/eea6ff90-e874-4c9d-9ac8-2aa917c3b3a3.eot?#iefix") format("eot"),url("/static/fonts/c1770d0a-0143-4f6e-b60c-375835099054.woff2") format("woff2"),url("/static/fonts/ff5f8557-33fd-4ee2-b8e2-c866ecdfeb68.woff") format("woff"),url("/static/fonts/d199c047-2fa8-423e-b6ca-46e4bbc3fe22.ttf") format("truetype"),url("/static/fonts/2db972b8-c073-483c-87d2-8911736ca9e7.svg#2db972b8-c073-483c-87d2-8911736ca9e7") format("svg");
}
@font-face{
font-family:"GriffoClassicoW00-BoldI";
src:url("/static/fonts/6e5a2781-ddc3-4f1b-aafe-e2d0680af32d.eot?#iefix");
src:url("/static/fonts/6e5a2781-ddc3-4f1b-aafe-e2d0680af32d.eot?#iefix") format("eot"),url("/static/fonts/3b8620d4-3b31-4076-bc46-8a57cee9c091.woff2") format("woff2"),url("/static/fonts/e2b64449-aea8-4e83-8aec-b4b692a7ddba.woff") format("woff"),url("/static/fonts/dce59522-9e11-45c1-8d60-ea9b7e490ad7.ttf") format("truetype"),url("/static/fonts/4606b8f8-d75e-4331-9546-918daef2c1b1.svg#4606b8f8-d75e-4331-9546-918daef2c1b1") format("svg");
}
@font-face{
font-family:"OfficinaSansITCW01-Book_734509";
src:url("/static/fonts/e4f88d1f-2f5e-49a0-9361-9fcdc5bfc795.eot?#iefix");
src:url("/static/fonts/e4f88d1f-2f5e-49a0-9361-9fcdc5bfc795.eot?#iefix") format("eot"),url("/static/fonts/7d11886e-59e1-4ecc-a1ec-52ab827a48e3.woff2") format("woff2"),url("/static/fonts/60567f88-1ef5-4f2c-9951-3ce3845f9967.woff") format("woff"),url("/static/fonts/ec8c3086-5408-4f25-97d0-f1f4c7014668.ttf") format("truetype"),url("/static/fonts/d29fed54-ae01-49ef-94e2-3e3fb9df3f70.svg#d29fed54-ae01-49ef-94e2-3e3fb9df3f70") format("svg");
}
@font-face{
font-family:"Snicker W01 Bold";
src:url("/static/fonts/b7e646f3-042d-4d23-bc61-e862beccb596.eot?#iefix");
src:url("/static/fonts/b7e646f3-042d-4d23-bc61-e862beccb596.eot?#iefix") format("eot"),url("/static/fonts/42b00b7d-845b-4fe3-b5e4-b308dd31e9c9.woff2") format("woff2"),url("/static/fonts/2c9de04f-8a70-4c8f-b8c8-db43ce51abca.woff") format("woff"),url("/static/fonts/8f9688f9-c026-4c4f-85ef-21ea13a7444c.ttf") format("truetype"),url("/static/fonts/1f47c672-f7f1-4632-9c0a-7b1783be1cf5.svg#1f47c672-f7f1-4632-9c0a-7b1783be1cf5") format("svg");
}
