doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title(lf-page-title)
    link(href='/vendor/ionicons/css/ionicons.min.css' rel='stylesheet')
    if debug
      link(href='/css/app.css' rel='stylesheet')
    else
      link(href='/css/app.min.css' rel='stylesheet')
    link(href='/img/loftili.png' rel='shortcut icon')
  body
    .head(lf-header)
    .notifications(lf-notification-manager)
    .view(ng-view)
    .foot(lf-footer)
    if debug
      script(src="/js/app.js" type="text/javascript")
    else
      script(src="/js/app.min.js" type="text/javascript")
