doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title(lf-page-title)
    link(href='//fonts.googleapis.com/css?family=Radley:400,400italic' rel='stylesheet' type='text/css')
    link(href='//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css')
    link(href='/css/app.css' rel='stylesheet')
    link(href='/img/loftili.png' rel='shortcut icon')
  body
    .head(lf-header)
    .notifications(lf-notification-manager)
    .view(ng-view)
    .foot(lf-footer)
    if debug
      script(src="/js/app.js" type="text/javascript")
    else
      script(src="/js/app.min.js" type="text/javascript")
