doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title(lf-page-title)
    meta(name="viewport" content="width=device-width, user-scalable=no")
    base(href="/")
    link(href='/vendor/ionicons/css/ionicons.min.css' rel='stylesheet')
    link(rel="apple-touch-icon-precomposed" href="/static/images/loftili-57x57.png")
    link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/loftili-72x72.png")
    link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/loftili-114x114.png")
    link(rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/loftili-144x144.png")
    if debug
      link(href='/css/app.css' rel='stylesheet')
    else
      link(href='/css/app.min.css' rel='stylesheet')
    link(href='/img/loftili.png' rel='shortcut icon')
  body
    .head(lf-header)
    .notifications(lf-notification-manager)
    .tooltips(lf-tooltip-maestro)
    .popups(lf-popup-maestro)
    .view-wrapper
      .view(ng-view)
    .foot(lf-footer)
    .playback-zone(lf-browser-playback)
    script(type="text/javascript" src="https://fast.fonts.net/jsapi/f1c4f72b-aec1-4d7a-a36b-00468854b965.js")
    if debug
      script.
        (function(global) { global.LF_DEBUG = true; })(this);
      script(src="/js/vendor.bundle.js?v=#{commit}" type="text/javascript")
      script(src="/js/app.js?v=#{commit}" type="text/javascript")
    else
      script.
        (function(global) { global.LF_DEBUG = false; })(this);
      script(src="/js/app.min.js?v=#{commit}" type="text/javascript")
