doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Lofti.li | Home Audio for the web
    link(href="/css/app.css" rel="stylesheet")
  body
    .view(ng-view)
    script(src="/js/vendor/requirejs/require.js" data-main="/js/app.js")
