.account.view
  padding: 20px 0
  
  > .inner
    +outer-wrapper
    +clearfix

  .account-section
    +span-columns(6)
    margin-bottom: 2.35765%

    +media(max-width 800px)
      +span-columns(12)
      margin-bottom: 20px

    &:nth-child(2n + 2)
      +omega

  .section-inner
    border-radius: 3px
    border: 1px solid darken(white, 20)

  .account-info
    display: block

  .section-title,
  .section-content
    padding: 10px
 
  .section-title
    background: adjust_hue(saturate(#f2f2f2, 10), 150)
    border: 
      bottom: 1px solid darken(white, 15)

    h2
      font-family: $sans-serif
      font-weight: 800

  .client-info .client-browser
    margin: 10px 0 0 0
    padding: 10px 0 0 0
    border-top: 1px solid darken(white, 10)


  .inviter-container
    display: block
    padding: 10px 0
    margin: 10px 0
    border-top: 1px solid darken(white, 10)
    
    .title h1
      color: darken(white, 50)
      font-size: 18px

    .inviter input
      width: 100%
