.blog-view
  display: block

  .blog-title
    height: 300px
    background: lighten($light-gray, 5)
    background-image: url("https://i.imgur.com/Em41PFO.png")
    background-size: cover
    background-position: center center
    border-bottom: 1px solid darken($light-gray, 15)
    margin: 0 0 10px 0

    .inner
      +outer-container
      background: rgba(0,0,0,0.5)
      text-align: center
      display: table
      height: 100%
      width: 100%

    h1.huge
      color: darken(white, 5)
      text-transform: uppercase
      display: table-cell
      vertical-align: middle
      font-size: 4em

      +media(max-width 800px)
        font-size: 2em

  .blog-posts
    +outer-wrapper

  .post
    display: block
    font-size: 16px

    +media(max-width 800px)
      border: none
      padding: 0 0 20px 0
      margin: 0 0 20px 0
      border-bottom: 1px solid darken(white, 20)

  .post .subtitle
    font-size: 24px
    margin: 0 0 15px 0
    color: lighten(black, 20)

    +media(max-width 800px)
      font-size: 1.1em

  .post .post-title h1.title-text
    font-size: 34px

    +media(max-width 800px)
      float: none
      font-size: 1.5em
      line-height: 1.1em
      margin: 0 0 10px 0
      float: none
      width: 100%

  .post .post-title .title-date
    +media(max-width 800px)
      text-align: left
      float: none
      width: 100%
      margin: 0
      height: auto
      display: block

      h2
        line-height: 1em
        padding: 0

  .post .sub-note
    color: lighten(black, 55)
    margin: 0 40px 15px

    +media(max-width 800px)
      margin: 0 0 15px 0

  .post p
    font-size: 1.1em
    line-height: 1.5em
    color: lighten(black, 40)
    margin: 0 0 15px 0

    +media(max-width 800px)
      font-size: 1em
      line-height: 1.2em

  .post img
    max-width: 100%

  .post .half
    position: relative

    +media(max-width 800px)
      +span-columns(12)
