.dashboard.view
  +outer-container
  min-height: 100%
  position: relative
  margin: 0 1em

  .half-section
    +outer-container
    border: 1px solid darken(white, 5)
    margin: 2em 0
    padding: 0.5em
    border-radius: 2px

  .half-section.device-list-wrapper
    padding-left: 0
    padding-right: 0

  .half-section.device-list-wrapper .device-list
    border-radius: 0
    border:
      left: 0
      right: 0

  .half-section.device-list-wrapper .section-top,
  .half-section.device-list-wrapper .registration-container
    padding: 
      left: 0.5em
      right: 0.5em


  .half-section .section-top
    margin: 0 0 10px 0

  .half-section > .bottom

  .device-section-container .device-creator .form-container
    +clearfix
    margin: 10px 0 0

  .device-section-container .device-creator .form-container .fields
    +clearfix
    +span-columns(10)
    margin-top: 0
    margin-bottom: 0

  .device-section-container .device-creator .form-container .fields .input-container
    +span-columns(6)
    margin-top: 0
    margin-bottom: 0

  .device-section-container .device-creator .form-container .actions
    +span-columns(2)

  .device-section-container .device-creator .form-container .actions button
    @extend %small-button


  &[active="overview"]
    .track-section-container, 
    .device-section-container
      +span-columns(6)

      +media(max-width 800px)
        +span-columns(12)
