.dashboard.view
  +outer-container
  min-height: 100%
  position: relative
  margin: 0 1em
  clear: both

  .half-section
    +outer-container
    border: 1px solid darken(white, 5)
    margin: 2em 0
    padding: 0.5em 0
    border-radius: 2px

  .half-section.device-list-wrapper
    padding-left: 0
    padding-right: 0

  .stream-list-container .stream-list
    @extend %alternating-list
    margin: 0 0 10px 0
    border-left: none
    border-right: none

  .stream-list-container .stream-list .stream
    +clearfix
    line-height: 1.8em
    border-left: none
    border-right: none

  .stream-list-container .stream-list .stream .title-container,
  .stream-list-container .stream-list .stream .action-container
    +clearfix
    position: relative
    display: block

  .stream-list-container .stream-list .stream .title-container
    float: left

  .stream-list-container .stream-list .stream .action-container
    float: right

  .stream-list-container .stream-list .stream .action-container .button
    @extend %small-button

  .half-section.device-list-wrapper .device-list
    border-radius: 0
    border:
      left: 0
      right: 0

  .half-section.stream-list-wrapper .section-top,
  .half-section.device-list-wrapper .section-top,
  .half-section.device-list-wrapper .registration-container
    padding: 
      left: 0.5em
      right: 0.5em


  .half-section .section-top
    margin: 0 0 10px 0

  .half-section > .bottom

  .device-section-container .device-creator .form-container
    +clearfix
    margin: 10px 0 0

  .device-section-container .device-creator .form-container .fields .input-container
    +span-columns(6)
    margin-top: 0
    margin-bottom: 0

  .device-section-container .device-creator .form-container .actions button
    @extend %small-button

  .quick-stream-create
    +clearfix

  .quick-stream-create .actions
    float: right
    margin-left: 10px
    padding-right: 0.5em

  .quick-stream-create .actions .button
    @extend %small-button

    &.create-trigger
      float: none
      display: block
      margin: 0.4em 0

  .quick-stream-create .inputs
    height: auto
    overflow: hidden
    +clearfix
    margin-left: 0.5em

  .quick-stream-create .inputs input
    @extend %bordered-input

  .quick-stream-create .inputs input.title
    +span-columns(4)

  .quick-stream-create .inputs input.description
    +span-columns(8)

  &[active="overview"] .stream-section-container,
  &[active="overview"] .device-section-container
    +span-columns(6)

    +media(max-width 800px)
      +span-columns(12)
