.dashboard.view
  padding: 20px 0

  .container
    +outer-container

  .subtitle
    font-weight: bold

  .dashboard-inner
    +outer-container

  .newbie
    padding: 0px 10px
    color: darken($base-background-color, 25)
    p.text
      margin: 0px
    a.leveler 
      cursor: pointer
      display: inline-block

  .half-section
    +outer-container

    &:last-child
      +omega

    .bottom
      padding: 5px 0

    .top
      padding: 5px 10px
      background: $dark-gray
      color: lighten($light-gray, 10)
      border-radius: 2px

      .closer
        display: inline-block
        height: 16px
        width: 16px
        margin: 0 10px 0 0
        background: lighten($light-gray, 10)
        border-radius: 2px
        cursor: pointer

