.home.view
  +outer-wrapper
  padding-top: 20px

  .inner
    +outer-container
 
  .bottom
    +outer-container
    margin: 0 0 20px 0
    .intro, .sign-up
      +span-columns(6)
    .sign-up
      +omega
      h1, p, input
        margin: 0px
      .input-container, .top, .flash-message
        margin: 0 0 10px 0

  @import "partials/home/intro"
  @import "partials/home/about"

