.home.view

  .big-splash
    background-image: url(http://i.imgur.com/oYz2wXS.jpg)
    background-size: cover
    background-position: center center
    min-height: 400px
    width: 100%
    text-align: center
    display: table
    position: relative

    &:after
      content: ''
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      background: rgba(0,0,0,0.5)
      z-index: 2

    .text
      display: table-cell
      position: relative
      z-index: 3
      vertical-align: middle

      h1
        color: lighten(black, 100)
        font-size: 80px
        padding: 10px 0

      h2
        color: lighten(black, 90)
        font-size: 24px

        +media(max-width 800px)
          font-size: 18px

  .intro
    padding: 40px 1em

    .top
      margin: 0 100px
      text-align: center

      +media(max-width 920px)
        margin:
          left: 80px
          right: 80px

      +media(max-width 840px)
        margin:
          left: 60px
          right: 60px

      +media(max-width 800px)
        margin:
          left: 40px
          right: 40px

      +media(max-width 720px)
        margin:
          left: 10px
          right: 10px

    .top h2
      font-size: 30px
      color: darken(white, 65)
      margin: 0 140px 20px
      +media(max-width 920px)
        margin:
          right: 100px
          left: 100px

      +media(max-width 800px)
        margin:
          right: 50px
          left: 50px

      +media(max-width 720px)
        font-size: 24px
        margin:
          right: 10px
          left: 10px

    .top p
      font-size: 18px
      line-height: 27px
      color: darken(white, 40)
      margin: 0 0 20px 0

  .bottom
    margin: 20px 0 0 0

  .bottom > h2
    font-size: 60px
    text-align: center
    color: darken(white, 65)

  .goods
    +outer-container
    list-style: none
    margin: 40px 40px 0

    +media(max-width 800px)
      margin: 40px 0 0 

    li
      +span-columns(4)
      +clearfix

      +media(max-width 800px)
        float: none
        width: 100%
        margin: 0 0 40px 0

    .text
      overflow: hidden
      height: auto
      color: darken(white, 50)

    .text p
      font-size: 18px
      line-height: 24px
      font-family: $font-foundry
      text-align: left

      +media(max-width 800px)
        text-align: center

    .blurb
      position: relative
      width: 60px
      height: 60px
      border-radius: 30px
      background: darken(white, 40)
      float: left
      margin: 0 20px 0

      &:after
        color: white
        font-size: 35px
        line-height: 60px

      +media(max-width 800px)
        display: block
        float: none
        margin: 0 auto 10px

    .core .blurb
      background: lighten(#57aed9, 9)

    .api .blurb
      background: adjust_hue(lighten(#57aed9, 9), 251)

    .ui .blurb
      background: adjust_hue(lighten(#57aed9, 9), 211)
