.home-view

  .inner
    +outer-container

  .bottom
    +outer-container
    .login, .sign-up
      +span-columns(6)
      &.sign-up
        +omega
      .input-container
        +outer-container
        position: relative
        overflow: hidden
        margin: 0 0 10px 0
        .label, input
          display: block
        .label
          +transition(all 500ms ease)
          z-index: 2
          position: absolute
          left: 10px
          top: 0px
          height: 100%
          p.text
            display: table
            vertical-align: center
            height: 100%
            position: relative
            span
              display: table-cell
              vertical-align: middle
        input
          position: relative
          z-index: 1
          margin: 0px auto
