.stream-management.view
  +outer-wrapper
  +clearfix
  position: relative
  display: block
  padding-top: 10px

  .stream-manager .stream-info
    @extend %bordered-container
    +span-columns(4)

  .stream-manager .stream-control
    @extend %bordered-container
    +span-columns(8)

